*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
	margin:0px;
	padding:0px;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
	margin:0px;
}
#scrollUp{
	background: rgba(0, 0, 0, 0) url("image/scrollup.png") no-repeat scroll 0 0;
	bottom: 15px;
	height: 50px;
	right: 106px;
	text-indent: -9999px;
	width: 50px;
}
/* ========end default style========= */


/* search bar style */
.search-bar {
  background: #444;
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 9999;
}
.search-bar input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border:none;
box-shadow: none;
color: #fff;
font-size: 20px;
height: 149px;
padding-right: 100px;
width: 92.6%;
}
.search-bar input:focus {
  box-shadow: none;
}
.search-bar button {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
color: #aaa;
font-size: 20px;
height: 100%;
position: absolute;
right: 100px;
top: 0;
width: 98px;
}
.search-bar .cross {
  color: #aaa;
cursor: pointer;
font-size: 40px;
height: 78px;
margin-top: -39px;
padding: 18px;
position: absolute;
right: 0;
top: 50%;
width: 80px;
}
.search-bar .cross img{
	width:100%;
	height:100%;
	display: block;
}
/* end search bar style */


/* ------------------------------header section style----------------------- */
header {
  background: #2A2929;
  padding: 40px 0px;
}
.logo a {
  background: rgba(0, 0, 0, 0) url("image/logo.png") repeat scroll 0 0 / 100% 100%;
display: block;
height: 70px;
text-indent: -9999px;
width: 270px;
}

/* menu */
.main-menu{
  background: none!important;
  margin:0;
  border: none!important;
}
.main-menu ul li {
  margin: 0 17px;
}
.main-menu ul li i {
  color: #d9b84d;
cursor: pointer;
font-size: 14px;
line-height: 32px;
padding: 16px 0;
position: relative;
width: 30px;
text-align: center;
}
.main-menu ul li i:hover {
  color: #ccc;
}
.main-menu ul li i:after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  background: #ccc;
  width: 2px;
  height: 12px;
  margin-top: -6px;
}
.main-menu .nav.navbar-nav a {
  color: #ccc;
padding: 15px 0;
position: relative;
text-transform: uppercase;
line-height: 31.5px;
font-size: 15px;
}
.main-menu .nav.navbar-nav a:hover {
  color: #DAB84E;
}
.main-menu ul .active > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  color:#DAB84E!important;
}
.main-menu ul .active > a::after {
  background: #DAB84E none repeat scroll 0 0;
  bottom: 10px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 20px;
}
.main-menu ul li > a:hover:after{
  background: #DAB84E none repeat scroll 0 0;
  bottom: 10px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 20px;
}
/* ------------------------------end header section style----------------------- */



/* ------------------------------slider section style----------------------- */
.slider-section{position:relative;}
.slider-overlay {
  background: rgba(42,41,41, 0.75) none repeat scroll 0 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.slider-caption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 90px 0;
  z-index: 9999;
  width:100%;
  height:100%;
}
.author-img > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.author-img {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
border-radius: 100%;
height: 216px;
margin: 0 auto;
padding: 10px;
width: 214px;
}
.author-colmn h4 {
  color: #dab84e;
  font-weight: bold;
  text-transform: uppercase;
}
.author-colmn h4 {
  color: #dab84e;
font-weight: bold;
margin: 27px 0 0;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 1.6px;
}
.author-colmn > p {
  color: #b3b3b3;
font-size: 10px;
font-weight: bold;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 0.7px;
}
.author-colmn span {
  color: #dab84e;
}

.social-contact {
  margin-top: 20px;
}
.social-contact > a {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 16px;
height: 30px;
margin: 0 3px;
padding: 3px;
text-align: center;
width: 30px;
line-height: 24px;
}
.social-contact > a:hover {
  background: #dab84e;
  color:#444;
}



.headline p {
  color:#b3b3b3;
  font-size: 35px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}
.headline p > span {
  color: #D9B84D;
}

.countDown {
  margin: 75px auto;
  text-align: right;
}
.single-count {
 border: 1px solid #717171;
display: inline-block;
height: 128px;
margin: 0px 16px;
padding: 15px;
text-align: center;
width: 160px;
position:relative;
}
.single-count:first-child {
  margin-left: 0px;
}
.single-count:last-child {
  margin-right: 0px;
}
.single-count > img {
  position: absolute;
  left: 50%;
  margin-left: -69.5px;
  bottom: 48px;
}
.countDown .single-count span {
  color: #d9b84d;
font-size: 45px;
letter-spacing: 4px;
text-align: center;
font-weight: 300;
}
.single-count > p {
  color: #8f8f8f;
font-size: 16px;
line-height: 24px;
text-align: center;
text-transform: capitalize;
}

.slider-caption .details {
  border: 1px solid #717171;
  color: #dab84e;
  font-size: 14px;
  padding: 30px 20px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2.3px;
  line-height:24px;
}

.subscribe-mail {
  border: 1px solid #717171;
  border-top: 0;
}
.subscribe-mail input.form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
box-shadow: none;
color: #fff;
font-size: 16px;
height: 50px;
line-height: 24px;
}
.subscribe-mail button {
  background: #d9b84d none repeat scroll 0 0;
border: medium none;
border-radius: 0 !important;
color: #333;
font-size: 14px;
font-weight: bold;
height: 50px;
padding: 6px 20px 0 40px;
position: relative;
text-transform: uppercase;
line-height: 24px;
}
.subscribe-mail button:hover{
background: #666;
color: #D9B84D;
}
.subscribe-mail button:before {
  content: "\f1d9 ";
font-family: FontAwesome;
left: 19px;
position: absolute;
top: 16px;
}
/* ------------------------------end slider section style----------------------- */



/* ------------------------------footer section style----------------------- */
footer {
  background: #2c2924 none repeat scroll 0 0;
  color: #919191;
  padding: 30px 0;
  font-size: 14px;
  line-height:24px;
  letter-spacing:1px;
}
footer a, footer a:hover, footer a:focus {
  color: #dab84e;
  font-weight: bold;
  text-decoration:none;
}
/* ------------------------------end footer section style----------------------- */