*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family:arial;
}
a{
    text-decoration: none;
}
a:hover, a:focus{
    text-decoration: none;
    color:none!important;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
    margin:0px;
    padding:0px;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
/* .container{
    width: 960px;
    margin: auto;
} */
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}
#scrollUp{
    background:url('image/top.png') no-repeat;
    height:38px;
    width:38px;
    right:20px;
    bottom:50px;
    text-indent:-9999px;
}
/* ========end default style========= */


/* --------------start header section--------------- */
header{
    background:#333333;
    padding:15px 0px;
}
.logo h1 a{
    background:url(image/logo.png) no-repeat;
    background-size:100% 100%;
    height:53px;
    width:180px;
    text-indent:-9999px;
    display:block;
}
.header-social-icon{
    margin-top: 15px;
}
.header-social-icon i {
    color: #979797;
    font-size: 20px;
    margin-left: 12px;
}
.header-social-icon i:hover {
    color: #1C95A4;
}
#simple-menu i {
    /* color: white; */
    font-size: 35px;
    margin-top: 8px;
}
.sidr ul li a, .sidr ul li span {
    text-transform: uppercase;
    font-weight: bold;
}
/* --------------start header section--------------- */


/* ----------start color plate styel----------- */
.color-plage-wrapper{
    position:fixed;
    top: 123px;
    left: -241px;
    width:295px;
    height: 155px;
    z-index:999
}
.color-palte {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
    border-radius: 0 0 5px 0;
    height: 155px;
    padding: 20px;
    width: 240px;
    z-index: 999;
}
.single-color {
    height: 49px;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 50px;
    border-radius:5px;
    cursor:pointer;
}
.icon, .icon2 {
    cursor: pointer;
    height: 40px;
    left: 239px;
    margin-top: -15px;
    position: absolute;
    top: 15px;
    width: 40px;
    z-index: 999;
}
.icon i, .icon2 i {
    background: none repeat scroll 0 0 #444;
    border-radius: 0 3px 3px 0;
    font-size: 32px;
    padding: 5px 10px;
}
/* .icon2 {transform: rotate(360deg);} */

.color1{background:#4BC0CD;}
.color2{background:#FD8926;}
.color3{background:#FE6E6E;}
.color4{background:#108268;}
.color5{background:#3F812E;}
.color6{background:#CA4443;}


.color-plate-bg{background:#4bc0cd;}
.color-plate-color{color:#4bc0cd;}

.color-plate-bg2{background:#FD8926;}
.color-plate-color2{color:#FD8926;}

.color-plate-bg3{background:#FE6E6E;}
.color-plate-color3{color:#FE6E6E;}

.color-plate-bg4{background:#108268;}
.color-plate-color4{color:#108268;}

.color-plate-bg5{background:#3F812E;}
.color-plate-color5{color:#3F812E;}

.color-plate-bg6{background:#CA4443;}
.color-plate-color6{color:#CA4443;}
/* ----------end color plate styel----------- */



/* -------------start banner section--------------- */
.banner-section{
    background:url(image/banner-bg.jpg) repeat;
    padding:70px 0px;
    position:relative;
}
.top-video {
    height: 357px !important;
    width: 90%;
}
.top-video iframe {
    height: 100%;
    width: 100%;
}
.banner-article > h1 {
    color: white;
    font-family: Lobster;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 30px;
}
.banner-article p {
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 15px;
}
.banner-article a {
    background: none repeat scroll 0 0 #518d8a;
    border: 1px solid #73a3a1;
    color: white;
    font-size: 19px;
    font-weight: bold;
    margin-top: 25px;
    padding: 12px 20px;
    text-transform: uppercase;
    display:block;
    width: 200px;
    text-align:center;
}
.fa.fa-shopping-cart {
    font-size: 30px;
    margin-right: 10px;
}
/* -------------start banner section--------------- */

/* ----------start service section--------------- */
.service-section {
    background: none repeat scroll 0 0 #f5f5f5;
    padding: 50px 0;
    text-align: center;
}
.service-header > h1 {
    color: #555555;
    font-family: lobster;
    font-size: 40px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: bold;
}
.service-header > p {
    color: #9999af;
    font-size: 16px;
    margin-bottom: 50px;
}
.single-service > h1 {
    color: #555;
    font-family: lobster;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0px 20px;
}
.sevice-location > h1{
    margin-top:40px;
}
.single-service > p {
    color: #555;
    font-size: 16px;
    line-height: 24px;
}
/* ----------end service section--------------- */


/* -----------start product section--------------- */
.product-section {
    /* background: none repeat scroll 0 0 #4bc0cd; */
    color: white;
    padding: 70px 0;
}
.product-showcase > h1 {
    font-family: lobster;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -8px;
}
.product-section .first-p {
    font-size: 19px;
    margin-bottom: 20px;
}
.product-showcase > p {
    font-size: 16px;
    margin-bottom: 30px;
}
.product-showcase > a {
    background: none repeat scroll 0 0 white;
    /* color: #4bc0cd; */
    display: block;
    font-family: lobster;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 6px 20px;
    width: 400px;
}
.product-section i {
    margin-right: 10px;
}
/* -----------end product section--------------- */


/* ---------start responsive section--------------- */
.responsive-section {
    padding: 50px 0px;
}
.responsive-article > h1 {
    color: #6d6d6d;
    font-family: lobster;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.responsive-article .first-p {
    font-size: 19px;
    color: #333;
    margin-bottom: 20px;
}
.responsive-article > p {
    font-size: 15px;
}
/* ---------end responsive section--------------- */


/* ---------start customize section--------------- */
.customize-section {
    /* background: none repeat scroll 0 0 #4ac0cc; */
    padding: 60px 0;
}
.customize-content > h1 {
    color: #fff;
    font-family: lobster;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: -15px;
}
.customize-content > p {
    color: #fff;
    font-size: 19px;
    margin-bottom: 50px;
}
.single-customize-catagory {
    background: none repeat scroll 0 0 #fff;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 35px;
    text-align: center;
    width: 165px;
    border-radius:10px;
}
.single-customize-catagory.pull-left > a {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    /* color:#4AC0CC; */
}
.single-customize-catagory i {
    /* color: #4ac0cc; */
    font-size: 43px;
}
/* ---------end customize section--------------- */


/* --------------start pricing section--------------- */
.pricing-section {
    padding: 50px 0 100px;
    text-align: center;
}
.pricing-header {
    border-bottom: 1px solid #EAE8E9;
    color: #505c5c;
    padding: 10px 0px;
    margin-bottom: 100px;
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    font-family: lobster;
}
.single-pricing-table {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #f0f0f0;
    margin: auto;
    height: 475px;
    width: 90%;
    padding-bottom: 30px;
    position:relative;
}
.table-header {
    /* background: none repeat scroll 0 0 #4ac0cc; */
    color: #fff;
    font-family: lobster;
    padding: 25px;
}
.table-header h1 {
    font-size: 30px;
    margin-bottom: 12px;
    font-weight:bold;
}
.table-header h2 {
    font-size: 24px;
    position:relative;
}
.table-header h2 span {
    font-size: 17px;
    left: 81px;
    position: absolute;
    top: 4px;
}
.standard-plan .table-header, .standard-plan a {
    background: none repeat scroll 0 0 #333!important;
}
.table-body {
    padding: 0 25px;
}
.table-body > p {
    border-bottom: 1px dotted #e0e0e0;
    color: #505559;
    font-weight: bold;
    padding: 20px 0;
}
.table-body ul {
    border-bottom: 1px dotted #e0e0e0;
    list-style-type: none;
    margin-bottom: 25px;
    padding: 20px 0;
}
.table-body li {
    color: #61646b;
    font-size: 15px;
    line-height: 25px;
}
.table-body ul li span {
    font-weight: bold;
}
.table-footer a {
    /* background: none repeat scroll 0 0 #4ac0cc; */
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 23px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    right: 92px;
}

.standard-plan {
    transform: scale(1.1, 1.2);
}
.standard-plan .table-footer > a {
    font-size: 14px;
    padding: 9px 22px;
}
.standard-plan .table-body ul li {
    font-size: 13px;
}
/* --------------end pricing section--------------- */


/* ----------------start tesimonial and faqs section--------------- */
.testimonial-faqs-section {
    /* background: none repeat scroll 0 0 #4ac0cc; */
    padding: 50px 0;
}
.testimonial-section > h1 {
    color: #fff;
    font: bold 40px lobster;
    margin-bottom: 10px;
}
.testmonials {
    border-bottom: 1px solid #c0ffff;
    border-top: 1px solid #c0ffff;
    padding: 30px 0;
}
.testmonials article {
    margin-right: 30px;
    width: 67.5%;
}
.testmonials article p {
    color: #eee;
    font-size: 18px;
    line-height:25px;
    width: 100%;
}
.testmonials h3 {
    background: none repeat scroll 0 0 #ddd;
    color: #919196;
    padding: 10px 20px;
    clear:both;
}

.faqs-header {
    font: bold 40px lobster;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    margin-bottom:40px;
}
.faqs-content {
    width: 80%;
    margin: auto;
}
/* ----------------end testimonial and faqs section--------------- */


/* ---------------start newsletter section--------------- */
.newsletter-section {
    padding: 70px 0 40px;
    text-align: center;
}
.newsletter-content > h1 {
    color: #303030;
    font: bold 40px lobster;
    margin-bottom: 20px;
}
.newsletter-content > p {
    color: #a6a495;
    font-size: 17px;
    margin-bottom: 15px;
}
.newsletter-content form input {
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px;
    width: 300px;
}
.newsletter-content button {
    /* background: none repeat scroll 0 0 #4ac0cc; */
    border: medium none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    text-transform: capitalize;
}
/* ---------------end newsletter section--------------- */


/* ---------------start footer section--------------- */
footer {
    background: none repeat scroll 0 0 #2a2a2a;
    padding: 50px 0;
    text-align: center;
}
.footer-social-icon {
    border-bottom: 1px solid #c0c0c0;
    margin: auto auto 15px;
    padding-bottom: 15px;
    width: 430px;
}
.footer-social-icon i {
    background: none repeat scroll 0 0 #2A2A2A;
    border-radius: 100%;
    box-shadow:0 -2px 1px rgba(255, 255, 255, 0.37) inset, 0 2px 1px rgba(0, 0, 0, 0.35) inset;
    /* color: #dbdcdb; */
    font-size: 25px;
    height: 50px;
    margin-right: 10px;
    padding-top: 13px;
    width: 50px;
}
footer p {
    color: #ccc;
    font-size: 17px;
}
/* ---------------end footer section--------------- */













