@media (min-width: 1200px) {}


@media (min-width: 992px) and (max-width: 1199px) {
    body{
        background:orange;
    }
	.top-video {
	  height: 320px !important;
	  width: 90%;
	}
    .banner-article > h1 {
        font-size: 40px;
    }
    .banner-article p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .banner-article a {
        font-size: 18px;
    }
    .fa.fa-shopping-cart {
        font-size: 24px;
    }

    .responsive-article > h1 {
        margin-bottom: 20px;
    }
    .responsive-article .first-p {
        font-size: 17px;
        margin-bottom: 15px;
    }


    .customize-content > h1 {
        margin-bottom: 20px;
    }
    .customize-content > p {
        font-size: 18px;
    }
    .single-customize-catagory {
        height: 125px;
        width: 130px;
        padding-top: 27px;
    }

    .single-pricing-table {
        height: 400px;
    }
    .table-header {
        padding: 20px;
    }
    .table-header h1 {
        font-size: 27px;
    }
    .table-header h2 {
        font-size: 21px;
    }
    .table-header h2 span {
        font-size: 16px;
        left: 60px;
        top: 1px;
    }
    .table-body > p {
        padding: 10px 0;
    }
    .standard-plan .table-body ul {
        padding: 10px 0;
    }
    .standard-plan {
        transform: scale(1.1, 1.1);
    }
    .table-footer a {
        right: 61px;
    }

    .testmonials article {
        margin-right: 20px;
        width: 62.5%;
    }
    .testmonials article p {
        font-size: 16px;
    }

    .newsletter-section {
        padding: 50px 0 40px;
    }






}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        background:pink;
    }
	.icon i, .icon2 i {
	font-size: 26px;
	}
	.top-video {
	  height: 264px !important;
	  width: 100%;
	}
    .banner-article > h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .banner-article p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .banner-article a {
        font-size: 17px;
        padding: 10px 15px;
        width: 165px;
    }
    .fa.fa-shopping-cart {
        font-size: 24px;
    }

    .service-section {
        padding: 40px 0;
    }
    .service-header > h1 {
        font-size: 30px;
    }
    .single-service > h1 {
        font-size: 24px;
        margin: 30px 0 15px;
    }
    .single-service > p {
        font-size: 15px;
    }


    .product-section {
        padding: 50px 0;
    }
    .product-showcase > h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .product-section .first-p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .product-showcase > p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .product-showcase > a {
        font-size: 24px;
        width: 100%;
    }


    .responsive-article > h1 {
        margin-bottom: 10px;
        font-size: 30px;
    }
    .responsive-article .first-p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .responsive-article > p {
        font-size: 14px;
    }


    .customize-section {
        padding: 60px 0 40px;
    }
    .customize-content > h1 {
        margin-bottom: 10px;
        font-size: 32px;
    }
    .customize-content > p {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .single-customize-catagory {
        height: 90px;
        padding-top: 15px;
        width: 95px;
        border-radius: 5px;
    }
    .single-customize-catagory i {
        font-size: 33px;
    }
    .single-customize-catagory.pull-left > a {
        font-size: 13px;
        margin-top: 13px;
    }



    .pricing-section {
        padding: 30px 0 70px;
    }
    .pricing-header {
        font-size: 32px;
        margin-bottom: 50px;
    }
    .single-pricing-table {
        height: 380px;
        width: 100%;
    }
    .table-header {
        padding: 13px;
    }
    .table-header h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .table-header h2 {
        font-size: 17px;
    }
    .table-header h2 span {
        font-size: 15px;
        left: 55px;
        top: 0;
    }
    .table-body ul {
        padding: 15px 0;
    }
    .table-body li {
        font-size: 13px;
        line-height: 24px;
    }
    .table-body > p {
        padding: 10px 0;
        font-size: 12px;
    }
    .standard-plan .table-body ul li {
        font-size: 12px;
    }
    .standard-plan .table-body ul {
        padding: 10px 0;
    }
    .standard-plan {
        transform: scale(1.1, 1.1);
    }
    .table-footer a {
        right: 48px;
        padding: 9px 18px;
        font-size: 13px;
    }
    .standard-plan .table-footer > a {
        font-size: 13px;
        padding: 8px 18px;
    }


    .testimonial-faqs-section {
        padding: 30px 0;
    }
    .testimonial-section > h1 {
        font: bold 32px lobster;
    }
    .testmonials {
        padding: 15px 0 20px;
    }
    .testmonials article {
        float: none !important;
        margin-bottom: 20px;
        width: 100%;
    }
    .testmonials article p {
        font-size: 15px;
    }
    .testmonials h3 {
        padding: 6px;
        font-size: 17px;
        text-align: center;
        width: 150px;
    }
    .faqs-header {
        font: bold 30px lobster;
        margin-bottom: 30px;
    }
    .faqs-content {
        width: 100%;
    }


    .newsletter-section {
        padding: 30px 0;
    }
    .newsletter-content > h1 {
        font: bold 32px lobster;
        margin-bottom: 10px;
    }
    .newsletter-content > p {
        font-size: 15px;
    }



    .footer-social-icon i {
        font-size: 23px;
        height: 40px;
        padding-top: 10px;
        width: 40px;
    }


    footer p {
        font-size: 15px;
    }



}

@media (min-width: 600px) and (max-width: 767px) {
    body{
        background:skyblue;
    }
	.icon i, .icon2 i {
	  display: none;
	}
	.color-palte{display:none; position:absolute;}
	.color-plate-bg{background:#4bc0cd!important;}
	.color-plate-color{color:#4bc0cd!important;}

		#simple-menu i {
	  font-size: 30px;
	}
	.top-video {
	  height: 200px !important;
	  width: 100%;
	}
    .banner-section {
        padding: 30px 0;
    }
    .banner-article > h1 {
        font-size: 23px;
        margin-bottom: 14px;
    }
    .banner-article p {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .banner-article a {
        font-size: 14px;
        margin-top: 20px;
        padding: 8px;
        width: 150px;
    }
    .fa.fa-shopping-cart {
        font-size: 20px;
        margin-right: 8px;
    }


    .service-section {
        padding: 30px 0;
    }
    .single-service {
        margin: auto auto 40px;
        width: 350px;
    }
    .service-header > h1 {
        font-size: 25px;
        margin-bottom: 7px;
    }
    .service-header > p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .sevice-location > h1 {
        margin-top: 20px;
    }
    .single-service > h1 {
        font-size: 22px;
        margin: 20px 0 10px;
    }
    .single-service > p {
        font-size: 14px;
        line-height: 23px;
    }



    .product-section {
        padding: 40px 0;
    }
    .product-showcase > h1 {
        font-size: 25px;
        margin-bottom: 7px;
    }
    .product-section .first-p {
        font-size: 15px;
        margin-bottom: 6px;
    }
    .product-showcase > p {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .product-showcase > a {
        font-size: 14px;
        margin-bottom: 7px;
        padding: 5px 10px;
        width: 100%;
    }



    .responsive-section {
        padding: 40px 0;
    }
    .responsive-article > h1 {
        font-size: 25px;
        margin-bottom: 8px;
    }
    .responsive-article .first-p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .responsive-article > p {
        font-size: 13px;
    }



    .customize-section {
        padding: 40px 0;
    }
    .customize-content > h1 {
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    .customize-content > p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .single-customize-catagory {
        border-radius: 5px;
        height: 80px;
        padding-top: 15px;
        width: 91px;
    }
    .single-customize-catagory.pull-left > a {
        font-size: 13px;
        margin-top: 7px;
    }
    .single-customize-catagory i {
        font-size: 30px;
    }




    .pricing-section {
        padding: 20px 0 30px;
    }
    .pricing-header {
        font-size: 25px;
        margin-bottom: 50px;
        padding: 10px 0 17px;
        text-align: center;
    }
    .single-pricing-table {
        height: 390px;
        margin-bottom: 30px;
        width: 300px;
    }
    .table-header {
        padding: 15px;
    }
    .table-header h1 {
        font-size: 23px;
        margin-bottom: 5px;
    }
    .table-header h2 {
        font-size: 18px;
    }
    .table-header h2 span {
        font-size: 17px;
        left: 99px;
        top: 0px;
    }
    .table-body ul {
        padding: 10px 0;
    }
    .table-body li {
        font-size: 13px;
    }
    .table-body > p {
        font-size: 12px;
        padding: 10px 0;
    }
    .standard-plan {
        transform: inherit;
    }
    .table-footer a, .standard-plan .table-footer > a {
        font-size: 13px;
        padding: 8px 15px;
        right: 92px;
    }


    .testimonial-faqs-section {
        padding: 30px 0;
    }
    .testimonial-section {
        margin-bottom: 50px;
    }
    .testimonial-section > h1 {
        font: bold 25px lobster;
    }
    .testmonials {
        padding: 20px 0;
    }
    .testmonials article {
        width: 76.5%;
    }
    .testmonials article p {
        font-size: 17px;
        line-height: 24px;
    }
    .testmonials h3 {
        font-size: 17px;
        font-weight: bold;
        padding: 7px 10px;
    }
    .testmonials figure img {
        height: 100px;
        width: 100px;
    }

    .faqs-header {
        font: bold 25px lobster;
        text-align: left;
        margin-bottom: 20px;
        border-bottom: 1px solid #c0ffff;
        padding-bottom: 10px;
    }
    .faqs-content {
        width: 100%;
    }



    .newsletter-section {
        padding: 20px 0 30px;
    }
    .newsletter-content > h1 {
        font: bold 25px lobster;
        margin-bottom: 8px;
    }
    .newsletter-content > p {
        font-size: 14px;
    }
    .newsletter-content form input {
        font-size: 15px;
        padding: 7px;
    }
    .newsletter-content button {
        font-size: 15px;
        padding: 8px 12px;
    }



    .footer-social-icon i {
        font-size: 23px;
        height: 40px;
        padding-top: 10px;
        width: 40px;
    }


    footer p {
        font-size: 15px;
    }







}

@media (min-width: 400px) and (max-width: 599px) {
    body{
        background:yellow;
    }
	.icon i, .icon2 i {
	  display: none;
	}
	.color-palte{display:none; position:absolute;}
	.color-plate-bg{background:#4bc0cd!important;}
	.color-plate-color{color:#4bc0cd!important;}
	
		#simple-menu i {
	  font-size: 28px;
	}
    .sidr ul li a, .sidr ul li span {
	  font-size: 14px !important;
	}
    .banner-section {
        padding: 30px 0;
    }
    .no-float {
        float: none !important;
        width: 100%;
        margin:auto;
    }
	.top-video{
		width:90%;
		height:330!important;
		margin: auto auto 30px;
	}
	
    .my-product, .cross-browser-img {
        margin: auto auto 30px;
        width: 353px;
        height: 253px;
    }
    .top-video img {
        height: 100%;
        width: 100%;
    }
    .banner-article > h1 {
        font-size: 30px;
        margin-bottom: 16px;
    }
    .banner-article p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 8px;
    }
    .banner-article a {
        font-size: 14px;
        padding: 8px 10px;
        width: 145px;
    }
    .fa.fa-shopping-cart {
        font-size: 19px;
        margin-right: 8px;
    }





    .service-section {
        padding: 30px 0;
    }
    .single-service {
        margin: auto auto 40px;
        width: 350px;
    }
    .service-header > h1 {
        font-size: 25px;
        margin-bottom: 7px;
    }
    .service-header > p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .sevice-location > h1 {
        margin-top: 20px;
    }
    .single-service > h1 {
        font-size: 22px;
        margin: 20px 0 10px;
    }
    .single-service > p {
        font-size: 14px;
        line-height: 23px;
    }



    .product-section {
        padding: 40px 0;
    }
    .product-showcase > h1 {
        font-size: 25px;
        margin-bottom: 7px;
        margin-top: 0;
    }
    .product-section .first-p {
        font-size: 14px;
        margin-bottom: 7px;
    }
    .product-showcase > p {
        font-size: 13px;
        margin-bottom: 23px;
    }
    .product-showcase > a {
        font-size: 19px;
        margin-bottom: 10px;
        padding: 6px 10px;
        width: 100%;
    }


    .responsive-section {
        padding: 20px 0 30px;
    }
    .responsive-article {
        margin-bottom: 30px;
    }
    .responsive-article > h1 {
        font-size: 25px;
        margin-bottom: 6px;
    }
    .responsive-article .first-p {
        font-size: 15px;
        margin-bottom: 10px;
    }


    .customize-section {
        background: none repeat scroll 0 0 #4ac0cc;
        padding: 30px 0;
    }
    .customize-content > h1 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .customize-content > p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .customize-img {
        display: none;
        position: absolute;
    }
    .single-customize-catagory {
        height: 88px;
        padding-top: 15px;
        width: 97px;
    }
    .single-customize-catagory i {
        font-size: 30px;
    }
    .single-customize-catagory.pull-left > a {
        font-size: 12px;
        margin-top: 10px;
    }



    .pricing-section {
        padding: 7px 0 30px;
    }
    .pricing-header {
        font-size: 25px;
        margin-bottom: 50px;
        padding: 10px 0 17px;
        text-align: center;
    }
    .single-pricing-table {
        height: 390px;
        margin-bottom: 30px;
        width: 300px;
    }
    .table-header {
        padding: 15px;
    }
    .table-header h1 {
        font-size: 23px;
        margin-bottom: 5px;
    }
    .table-header h2 {
        font-size: 18px;
    }
    .table-header h2 span {
        font-size: 17px;
        left: 99px;
        top: 0px;
    }
    .table-body ul {
        padding: 10px 0;
    }
    .table-body li {
        font-size: 13px;
    }
    .table-body > p {
        font-size: 12px;
        padding: 10px 0;
    }
    .standard-plan {
        transform: inherit;
    }
    .table-footer a, .standard-plan .table-footer > a {
        font-size: 13px;
        padding: 8px 15px;
        right: 92px;
    }

    .testimonial-faqs-section {
        padding: 30px 0;
    }
    .testimonial-section {
        margin-bottom: 50px;
    }
    .testimonial-section > h1 {
        font: bold 25px lobster;
    }
    .testmonials {
        padding: 15px 0 20px;
    }
    .testmonials article {
        float: none !important;
        margin-bottom: 20px;
        width: 100%;
    }
    .testmonials article p {
        font-size: 15px;
    }
    .testmonials h3 {
        padding: 6px;
        font-size: 17px;
        text-align: center;
        width: 150px;
    }

    .faqs-header {
        font: bold 25px lobster;
        text-align: left;
        margin-bottom: 20px;
        border-bottom: 1px solid #c0ffff;
        padding-bottom: 10px;
    }
    .faqs-content {
        width: 100%;
    }



    .newsletter-section {
        padding: 20px 0 30px;
    }
    .newsletter-content > h1 {
        font: bold 25px lobster;
        margin-bottom: 8px;
    }
    .newsletter-content > p {
        font-size: 14px;
    }
    .newsletter-content form input {
        font-size: 15px;
        padding: 7px;
        width: 245px;
    }
    .newsletter-content button {
        font-size: 15px;
        padding: 8px 12px;
    }


    .footer-social-icon {
        width: 330px;
    }
    .footer-social-icon i {
        font-size: 23px;
        height: 40px;
        padding-top: 10px;
        width: 40px;
    }


    footer p {
        font-size: 15px;
    }











}

@media (max-width: 400px) {
    body{
        background:green
    }
	.icon i, .icon2 i {
	  display: none;
	}
	.color-palte{display:none; position:absolute;}
	.color-plate-bg{background:#4bc0cd!important;}
	.color-plate-color{color:#4bc0cd!important;}
	
    .logo h1 a {
        height: 38px;
        width: 120px;
    }
		#simple-menu i {
	  font-size: 26px;
	}
	.sidr {
	  width: 200px;
	}
	.sidr ul li a, .sidr ul li span {
	  font-size: 13px !important;
	}
    .banner-section {
        padding: 30px 0;
    }
    .no-float {
        float: none !important;
        width: 100%;
        margin:auto;
    }
	.top-video{
		width:100%;
		height:260px!important;
		margin: auto auto 30px;
	}
    .my-product, .cross-browser-img {
        height: 173px;
        margin: auto auto 30px;
        width: 253px;
    }
    .top-video img {
        height: 100%;
        width: 100%;
    }
    .banner-article > h1 {
        font-size: 23px;
        margin-bottom: 12px;
    }
    .banner-article p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 7px;
    }
    .banner-article a {
        font-size: 12px;
        padding: 6px 8px;
        width: 113px;
    }
    .fa.fa-shopping-cart {
        font-size: 16px;
        margin-right: 8px;
    }





    .service-section {
        padding: 30px 0;
    }
    .single-service {
        margin: auto auto 40px;
        width: 100%;
    }
    .service-header > h1 {
        font-size: 25px;
        margin-bottom: 7px;
    }
    .service-header > p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .sevice-location > h1 {
        margin-top: 20px;
    }
    .single-service > h1 {
        font-size: 22px;
        margin: 20px 0 10px;
    }
    .single-service > p {
        font-size: 14px;
        line-height: 23px;
    }



    .product-section {
        padding: 40px 0;
    }
    .product-showcase > h1 {
        font-size: 25px;
        margin-bottom: 7px;
        margin-top: 0;
    }
    .product-section .first-p {
        font-size: 14px;
        margin-bottom: 7px;
    }
    .product-showcase > p {
        font-size: 13px;
        margin-bottom: 23px;
    }
    .product-showcase > a {
        font-size: 19px;
        margin-bottom: 10px;
        padding: 6px 10px;
        width: 100%;
    }


    .responsive-section {
        padding: 20px 0 30px;
    }
    .responsive-article {
        margin-bottom: 30px;
    }
    .responsive-article > h1 {
        font-size: 25px;
        margin-bottom: 6px;
    }
    .responsive-article .first-p {
        font-size: 15px;
        margin-bottom: 10px;
    }


    .customize-section {
        background: none repeat scroll 0 0 #4ac0cc;
        padding: 30px 0;
    }
    .customize-content > h1 {
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .customize-content > p {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .customize-img {
        display: none;
        position: absolute;
    }
    .single-customize-catagory {
        height: 88px;
        padding-top: 15px;
        width: 97px;
    }
    .single-customize-catagory i {
        font-size: 30px;
    }
    .single-customize-catagory.pull-left > a {
        font-size: 12px;
        margin-top: 10px;
    }



    .pricing-section {
        padding: 7px 0 30px;
    }
    .pricing-header {
        font-size: 25px;
        margin-bottom: 50px;
        padding: 10px 0 17px;
        text-align: center;
    }
    .single-pricing-table {
        height: 370px;
        margin-bottom: 30px;
        width: 250px;
    }
    .table-header {
        padding: 15px;
    }
    .table-header h1 {
        font-size: 23px;
        margin-bottom: 5px;
    }
    .table-header h2 {
        font-size: 18px;
    }
    .table-header h2 span {
        font-size: 17px;
        left: 99px;
        top: 0px;
    }
    .table-body ul {
        padding: 10px 0;
    }
    .table-body li {
        font-size: 13px;
    }
    .table-body > p {
        font-size: 12px;
        padding: 10px 0;
    }
    .standard-plan {
        transform: inherit;
    }
    .table-footer a, .standard-plan .table-footer > a {
        font-size: 13px;
        padding: 8px 15px;
        right: 70px;
    }

    .testimonial-faqs-section {
        padding: 30px 0;
    }
    .testimonial-section {
        margin-bottom: 50px;
    }
    .testimonial-section > h1 {
        font: bold 25px lobster;
    }
    .testmonials {
        padding: 15px 0 20px;
    }
    .testmonials article {
        float: none !important;
        margin-bottom: 20px;
        width: 100%;
    }
    .testmonials article p {
        font-size: 15px;
    }
    .testmonials h3 {
        padding: 6px;
        font-size: 17px;
        text-align: center;
        width: 150px;
    }

    .faqs-header {
        font: bold 25px lobster;
        text-align: left;
        margin-bottom: 20px;
        border-bottom: 1px solid #c0ffff;
        padding-bottom: 10px;
    }
    .faqs-content {
        width: 100%;
    }



    .newsletter-section {
        padding: 20px 0 30px;
    }
    .newsletter-content > h1 {
        font: bold 25px lobster;
        margin-bottom: 8px;
    }
    .newsletter-content > p {
        font-size: 14px;
    }
    .newsletter-content form input {
        font-size: 15px;
        padding: 7px;
        width: 100%;
        margin-bottom: 10px;
    }
    .newsletter-content button {
        font-size: 15px;
        padding: 8px 12px;
    }


    .footer-social-icon {
        width: 100%;
    }
    .footer-social-icon i {
        font-size: 23px;
        height: 40px;
        padding-top: 10px;
        width: 40px;
        margin-bottom: 10px;
    }


    footer p {
        font-size: 15px;
    }










}


