*{margin: 0px; padding: 0px;}
html, body{height:100%; width:100%}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family:arial;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
    margin:0px;
    padding:0px;
    list-style:none;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}
#scrollUp{
    background:url('image/top.png') no-repeat;
    height:38px;
    width:38px;
    right:20px;
    bottom:50px;
    text-indent:-9999px;
}
/* ========end default style========= */

body {
    background: url(images/bg.jpg) no-repeat;
    background-size:cover;
    background-position:fixed;
}
body:before, body:after {
    content:"";
    height: 50%;
    width: 100%;
    position:absolute;
    z-index:-4;
}
body:before {
    top:0px;
}
body:after {
    background: rgba(217,217,217, 1) none repeat scroll 0 0;
    bottom:0px;
}

section.coming-soon, .tbl {
    height: 100%;
    z-index:999;
}
.coming-soon .tbl {
    display: table;
    width: 100%;
}
.coming-soon .tbl-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.tbl-cell div {
    height: auto;
}

/* -------------color plate setting-------------- */
.color-plate-wrapper{
    left: -133px;
    position: fixed;
    top: 123px;
    width: 174px;
    z-index: 999;
}
.color-palte {
    background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0;
    padding: 20px 20px 10px;
    width: 133px;
    z-index: 999;
}
.single-color-plate {
    border-radius: 3px;
    cursor: pointer;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 36px;
}
.icon, .icon2 {
    background: #444 none repeat scroll 0 0;
    cursor: pointer;
    height: 40px;
    left: 133px;
    margin-top: -15.0px;
    position: absolute;
    top: 15px;
    width: 40px;
    z-index: 999;
}
.icon i, .icon2 i {
    border-radius: 0 3px 3px 0;
    font-size: 26px;
    padding: 6px 9px;
    color:#fff;
}

/* blue color */
.blue-color{color: #2a6888;}
.blue-background, .blue{background: #2D6B8B;}
.blue-button-shadow{box-shadow:2px 2px 0px #25566f, 1px 1px 1px rgba(255,255,255,0.22) inset}
.blue-transparent-background:before{background: rgba(76, 126, 161, 0.9) none repeat scroll 0 0;}

/* green color */
.green-color{color: #69912b;}
.green-background, .green{background: #8DB353;}
.green-button-shadow{box-shadow:2px 2px 0px #587727, 1px 1px 1px rgba(255,255,255,0.22) inset}
.green-transparent-background:before{background: rgba(143,180,85, 0.9) none repeat scroll 0 0;}

/* purple color */
.purple-color{color: #6c51a3;}
.purple-background, .purple{background: #8670B2;}
.purple-button-shadow{box-shadow:2px 2px 0px #5a4484, 1px 1px 1px rgba(255,255,255,0.22) inset}
.purple-transparent-background:before{background: rgba(135,113,179, 0.9) none repeat scroll 0 0;}

/* red color */
.red-color{color: #a02e2e;}
.red-background, .red{background: #B25151;}
.red-button-shadow{box-shadow:2px 2px 0px #812828, 1px 1px 1px rgba(255,255,255,0.22) inset}
.red-transparent-background:before{background: rgba(178,81,81, 0.9) none repeat scroll 0 0;}

/* yellow color */
.yellow-color{color: #9e932f;}
.yellow-background, .yellow{background: #B2A851;}
.yellow-button-shadow{box-shadow:2px 2px 0px #80772a, 1px 1px 1px rgba(255,255,255,0.22) inset}
.yellow-transparent-background:before{background: rgba(178,168,81, 0.9) none repeat scroll 0 0;}

/* aqua color */
.aqua-color{color: #357624;}
.aqua-background, .aqua{background: #3f812e;}
.aqua-button-shadow{box-shadow:2px 2px 0px #2c6b1c, 1px 1px 1px rgba(255,255,255,0.22) inset}
.aqua-transparent-background:before{background: rgba(63,129,46, 0.9) none repeat scroll 0 0;}

/* -------------end color plate class setting-------------- */


.content-wrapper {
    margin-top: -80px;
}
.content-wrapper.text-center > h2 {
    color: #fff;
    margin: 10px 0 20px;
    text-transform: uppercase;
}
.timer-content {
    background:#E7E6E6;
    margin: 0 auto;
    width: 740px;
    padding: 50px 100px;
    position:relative;
}
.timer-content > h2 {
    color: #656565;
}
.timer-content > p {
    color: #656565;
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 30px;
}

.single-count {
    background: #eeeeee none repeat scroll 0 0;
    display: inline-block;
    margin-left: 20px;
    padding: 9px 3px;
    width: 21.6%;
    box-shadow: 3px 3px 0 #cdcbcc, 1px 1px 0 #fff inset;
}
.single-count:first-child {
    margin-left: 0;
}
.countDown span {
    font-size: 40px;
}
.countDown p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.timer-content .search-area {
    margin: 30px 0 16px;
    padding: 7px;
}
.timer-content .search-area input {
    border: medium none;
    float: left;
    font-size: 16px;
    padding: 8px 10px;
    width: 78.1%;
}
.timer-content .search-area button {
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    padding: 8px 25px;
    text-transform: capitalize;
    width: 20%;
}

.timer-content .contact-social li {
    color: #656565;
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
    text-transform: capitalize;
}

.timer-content:after {
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 203px 15px -35px rgba(0, 0, 0, 0.25);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 290px;
    transform: scaleY(0.4);
    z-index: -1;
}
