*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:focus{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{ font-family: Montserrat;}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
    margin:0px;
    padding:0px;
    list-style:none;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}
#scrollUp{
    background:url('../images/top.png') no-repeat;
    bottom: 50px;
    height: 40px;
    right: 20px;
    text-indent: -9999px;
    width: 40px;
    background-size: 100% 100%;
}
/* ========end default style========= */


/* --------------------------start header top----------------------------- */
section.header-top {
    background: #f6f6f6 none repeat scroll 0 0;
    padding: 10px 0;
    border-bottom: 2px solid #ECECEC;
}
.quick-contact > li {
    display: inline-block;
    margin-right: 14px;
}
.quick-contact a {
    color: #9d9d9d;
    font-size: 13px;
}
.quick-contact i {
    color: #9d9d9d;
    font-size: 15px;
    margin-right: 8px;
}
.nav > li.dropdown > a {
    color: #9d9d9d;
    padding: 0 15px;
}
.nav > li.dropdown > a:focus, 
.nav > li.dropdown > a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-decoration: none;
    color:#FF8000;
} 
.nav > li.dropdown > a:hover {
    color:#FF8000;
}
/* --------------------------end header top----------------------------- */


/* --------------------------start header ----------------------------- */
header.site-header {
    border-bottom: 2px solid #ECECEC;
    padding: 20px 0;
}
.logo a {
    background: rgba(0, 0, 0, 0) url("../images/logo.png");
    background-size:100% 100%;
    display: block;
    height: 54px;
    text-indent: -99999px;
    width: 131px;
}

.search-area {
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    height: 40px;
    margin: 7px auto 0;
    padding: 3px;
    width: 400px;
}

.search-area input {
    border:none;
    border: medium none;
    border-radius: 20px;
    float: left;
    padding: 6px 12px;
    width:91%;
}
.search-area button {
    background: #ff7f00 none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    padding: 6px 10px;
}

.shopping-cart-area a.all-shopping {
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    padding: 8px 6px;
    color: #212121;
    display:block;
    margin-top: 11px;
}
.shopping-cart-area .fa-shopping-cart {
    margin-right: 5px;
    font-size: 16px;
}
.shopping-cart-area .all-shopping span {
    background: #FF7F00;
    color: #fff;
    font-weight: bold;
    padding: 5px 7px;
    margin-left: 10px;
    border-radius: 100%;
}


/* -------------------total shopping-cart modal---------------------- */
.cart-position {
    position: relative;
}
.shopping-cart-area {
    height: 60px;
    position: absolute;
    right: 13px;
}
.total-shopping {
    background: #fff none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.41);
    padding: 20px;
    position: absolute;
    right: 4px;
    width: 330px;
    z-index: 1;
    top: 110px;
    opacity:0;
    visibility:hidden;
    transition:0.5s;
}
.shopping-cart-area:hover .total-shopping {
    top: 65px;
    opacity:1;
    visibility:visible;
}
.total-shopping .media {
    border-bottom: 1px solid #ECECEC;
    padding: 20px 0;
}
.single-shopping:first-child li.media {
    padding-top: 0;
}
.single-shopping .media-object {
    background: #F7F7F7 none repeat scroll 0 0;
    border:1px solid #F7F7F7;
    height: 70px;
    width: 70px;
}
.single-shopping .media-body {
    position: relative;
}
.single-shopping .media-body > a {
    color: #222222;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 12px;
}
.single-shopping .media-body > a:hover{color:#ff7f00}
.single-shopping span.shopping {
    color: #FF7F00;
    font-size: 16px;
}
.single-shopping a.delete {
    font-size: 19px;
    margin-top: -16px;
    position: absolute;
    right: 0;
    top: 50%;
    color: #222222;
}
.single-shopping a.delete:hover {
    color: #ff7f00;
}

.shopping-checkout {
    padding: 20px 0px;
}
.shopping-checkout > p {
    font-size: 15px;
    color: #656565;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.shopping-checkout span {
    color: #fe7e00;
    float: right;
}
.shopping-checkout a {
    border-radius: 20px;
    display: inline-block;
    font-size: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight:bold;
}
.shopping-checkout .cart {
    background: #ff7f00 none repeat scroll 0 0;
    border: 1px solid #ff7f00;
    color: #fff;
    margin-right: 20px;
}
.shopping-checkout .cart:hover {
    background: none;
    color:#444;
    border: 1px solid #ff7f00;
}
.shopping-checkout .checkout {
    border: 1px solid #ccc;
    color: #244;
}
.shopping-checkout .checkout:hover {
    border: 1px solid #222;
}
/* -------------------end total shopping-cart modal---------------------- */
/* --------------------------end header ----------------------------- */


/* --------------------------start main menu ----------------------------- */
.main-menu-area {
    min-height: 52px;
}
.main-menu-area nav {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 0;
}
.main-menu-area li {
    margin: 0 20px;
    position:relative;
}
.main-menu-area li:first-child {
    margin-left: 0;
}
.main-menu-area li:last-child {
    margin-right: 0;
}
.main-menu-area .navbar-nav > li > a {
    color: #555;
    font-family: Montserrat;
    font-weight: bold;
    padding: 15px 0;
    text-transform: uppercase;
}
.main-menu-area .active > a,
.main-menu-area nav a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border-bottom: 2px solid #ff7f01;
    color: #ff7f01 !important;
}

.social-contact {
    margin-top: 15px;
}
.social-contact.pull-right > a {
    color: #8b8b8b;
    display: inline-block;
    font-size: 16px;
    margin-left: 12px;
}
.social-contact > a:hover {
    color: #FF7F00;
}


/* -------mega menu--------- */
ul.mega-menu {
    background: rgba(255, 255, 255, 1) url("../images/megabg.png") no-repeat;
    background-position:right top;
    background-size: 28% auto;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.17);
    left: 50%;
    margin-left: -350px;
    padding: 20px 30px;
    position: absolute;
    top: 90px;
    width: 700px;
    opacity:0;
    visibility:hidden;
    transition: 0.5s;
    z-index: 1;
}
.main-menu-area .navbar-nav > li:hover ul.mega-menu{
    top:50px; 
    opacity:1;
    visibility:visible;
}
.mega-menu::before {
    background: #fff none repeat scroll 0 0;
    border-left: 2px solid rgba(0, 0, 0, 0.17);
    border-top: 2px solid rgba(0, 0, 0, 0.17);
    content: "";
    height: 15px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: -9px;
    transform: rotate(45deg);
    width: 15px;
}
ul.mega-menu h4 {
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    margin-bottom: 25px;
}
ul.mega-menu h4:before {
    content: "";
    position: absolute;
    background: #E6E6E6;
    width: 50px;
    height: 2px;
    bottom: -12px;
}
ul.mega-menu > li {
    float: left;
    width: 20%;
}
.mega-menu a {
    display: block;
    line-height: 27px;
    text-transform: capitalize;
    color: #ADADAD;
}
.main-menu-area nav .mega-menu a:hover {
    border-bottom: none;
}
/* -------mega menu--------- */
/* --------------------------end main menu ----------------------------- */


/* --------------------------start slider ----------------------------- */
.single-slide-item{
    height: 480px;
}
.slider-bg1{
    background: rgba(0, 0, 0, 0) url("../images/slider-img/8.jpg") no-repeat scroll right center / cover ;
}
.slider-bg2{
    background: rgba(0, 0, 0, 0) url("../images/slider-img/3.png") no-repeat scroll right center / cover ;
}
.slider-bg3{
    background: rgba(0, 0, 0, 0) url("../images/slider-img/2.jpg") no-repeat scroll right center / cover ;
}
.slider-bg4{
    background: rgba(0, 0, 0, 0) url("../images/slider-img/7.jpg") no-repeat scroll right center / cover ;
}
.single-slide-table{
    display: table;
    width: 100%;
    height: 100%;
}
.single-slide-tblcell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.single-slide-item h2 {
    color: #FE7F00;
    font-family: Great Vibes;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
.single-slide-item h1 {
    color: #222222;
    font-size: 50px;
    font-weight: 900;
    line-height: 54px;
    margin: 8px 0;
    text-transform: uppercase;
}
.single-slide-item h1 span,
.single-slide-item p span {
    color: #FE7F00;
}
.single-slide-item p {
    color: #181818;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.single-slide-item a {
    background: #FE7F00;
    color: #fff;
    font-weight: 900;
    display: inline-block;
    padding: 6px 15px;
    text-transform: uppercase;
    border-radius: 25px;
    margin: 15px 0px;
}
.single-slide-item a:hover{
    color:#222;
}
.slider-section .owl-prev, 
.slider-section .owl-next {
  position: absolute;
  top: 48%;
}
.slider-section .owl-prev {
  left: 110px;
}
.slider-section .owl-next {
  right: 110px;
}
/* --------------------------start slider ----------------------------- */




/* --------------------------start service section ----------------------------- */
.service-section {
    padding: 100px 0;
}
.single-service i {
    border: 1px solid #E9E9E9;
    border-radius: 100%;
    color: #555;
    font-size: 30px;
    height: 79px;
    padding: 23px 5px ;
    width: 80px;
    text-align: center;
    position:relative;
}
.single-service.support i::after,
.single-service.guarentee i::after {
    border-top: 1px dashed #d7d7d7;
    content: "";
    position: absolute;
    right: 131px;
    top: 50%;
    width: 270%;
}

.single-service h3 {
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0px 5px;
    font-size: 17px;
}
.single-service p {
    color: #8B8B8B;
    font-size: 15px;
}
.support i {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.27);
    color: #ff7f00;
}
.single-service.support > h3 {
    color: #ff7f00;
}
/* --------------------------end service section ----------------------------- */


/* --------------------------advertise section ----------------------------- */
.single-add {
    background: #f4f4f4 none repeat scroll 0 0;
    height: 190px;
    padding: 47px 30px;
}
.add-details .title,
.offering-txt .title {
    color: #ff7f00;
    font-family: Great Vibes;
    font-size: 35px;
    line-height: 30px;
    text-transform: capitalize;
}
.add-details > h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
    margin: 5px 0px 7px;
    color:#222222;
}
.add-details .offer {
    color: #232323;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
}
.offer > span {
    font-weight: bold;
    letter-spacing: 1px;
    color:#FF7F00;
}
/* --------------------------end advertise section ----------------------------- */


/* --------------------------start new product section ----------------------------- */
.section-padding {
    padding: 100px 0;
    text-align: center;
}
.section-heding h2 {
    color: #212121;
    position:relative;
    font-weight: bold;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}
.section-heding span {
    color: #FF7F00;
}
.section-heding h2::before {
    background: rgba(0, 0, 0, 0) url("../images/pattern.png") no-repeat scroll 0 0 / 100% 100%;
    bottom: -25px;
    content: "";
    height: 19px;
    left: 50%;
    margin-left: -110px;
    position: absolute;
    width: 220px;
}

.product-carousel {
    margin-left: -14px;
}
.single-product{
    border: 4px solid #f7f7f7;
    margin-left: 25px;
}
.single-product .product-img {
    height: 240px;
    padding: 40px 20px;
}
.product-carousel .product-img img{
    height: 100%;
    margin: 0 auto;
    transition:0.5s;
}
.product-carousel .single-product:hover .product-img img {
    transform: scale(1.3, 1.3);
}
.product-details {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 20px 20px;
    text-align:left;
}
.product-details .product-title {
    color: #212121;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.product-details .product-title:hover{color:#FF7F00;} 
.product-details > span {
    color: #ff7f00;
    font-size: 16px;
    font-weight: bold;
}
.product-details strike {
    color: #a4a4a4;
    font-size: 16px;
    margin-left: 5px;
}
.social-like {
    margin-top: 15px;
}
.social-like > a{display:inline-block;}

.social-like > a,
.social-like .add2cart {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #9d9d9d;
    border-radius: 50px;
    color: #9d9d9d;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 38px;
    margin-right: 5px;
    padding: 4px 9px;
    transition: all 0.2s ease 0s;
    width: 38px;
    text-align: center;
}
.add2cart a {
    display: none !important;
    width: 91px;
}
.add2cart:hover a {
    display: inline-block !important;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    color:#fff;
    position:relative;
}
.add2cart span {
    left: 4px;
    position: absolute;
    top: -17px;
}
.add2cart:hover{
    width:110px;
    background:#FF7F00; 
    border-color:#FF7F00;
    text-align:center;

}
.add2cart:hover i{ display:none;font-size:15px;}
.social-like > a:hover {
    border: 1px solid #FF7F00;
    color: #FF7F00;
}
.new-product .owl-theme .owl-controls {
    margin-top: 30px;
}
/* --------------------------end new product section ----------------------------- */


/* --------------------------coming soon product section ----------------------------- */
.coming-product {
    background: rgba(0, 0, 0, 0) url("../images/bricks-bg.jpg") no-repeat;
    background-size:cover;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.26) inset;
    padding-bottom: 0px;
    position:relative;
    padding-top: 70px;
}
.offer-details .watchmodel,
.offer-details .product-img {
    width: 25%;
}
.offer-details .offering-txt {
    width: 44%;
    margin:0px 3%;
}
.offering-txt > h2 {
    color: #222222;
    font-weight: bold;
    margin: 7px 0px 50px;
}
.offering-txt span {
    color: #ff7f00;
}
.coming-product .single-count {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    margin-left: 11px;
    width: 137px;
    padding: 27px 10px;
    border-radius: 100%;
    box-shadow: 5px -5px 6px rgba(0,0,0,0.28)inset, 0px -16px 8px rgba(0,0,0,0.28);
}
.coming-product .single-count:first-child {
    margin-left: 0;
}

.coming-product .single-count span {
    font-family: montserrat;
    font-size: 43px;
}
.coming-product .single-count p {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.offering-txt.pull-left > a {
    background: #ff7f00 none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    display: block;
    font-family: montserrat;
    font-weight: 700;
    margin: 70px auto;
    padding: 10px;
    text-transform: uppercase;
    width: 160px;
}
.product-img.watchh img {
    margin: 0 auto;
    width: 270px;
}
/* --------------------------end coming soon product section ----------------------------- */


/* --------------------------start product gellary section ----------------------------- */
.filtering-menu li {
    display: inline;
    border-radius: 20px;
    color: #515151;
    display: inline-block;
    font-weight: bold;
    padding: 6px 20px;
    font-family: montserrat;
    text-transform: uppercase;
    cursor:pointer;
}
.filtering-menu li.active{background:#FF7F00; color:#fff!important;}

.product-area {
    margin-left: -25px;
    margin-top: 50px;
}
.single-project {
    width: 25%;
    float: left;
    margin-bottom: 25px;
}
.single-project .single-product img {
    height: 100%;
    margin: 0 auto;
    transition:0.5s;
}
.product-area .single-product{transition:0.5s;}
.product-area .single-project:hover img{transform: scale(1.3, 1.3);}
.product-area .single-project:hover .single-product {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
}

.product-area .mix{
    display: none;
}
/* --------------------------end product gellary section ----------------------------- */



/* --------------------------start blog section ----------------------------- */
.single-blog {
    border: 4px solid #f7f7f7;
}
.blog-section {
    padding-top: 0;
}
.blog-img {
    position: relative;
}
.blog-img .date {
    background: #FF7F00;
    bottom: 0;
    height: 62px;
    left: 0;
    padding: 3px 7px;
    position: absolute;
    width: 62px;
    font-weight: 700;
    color:#fff;
    font-family: montserrat;
}
.month {
    text-transform: uppercase;
    font-family: montserrat;
}


.blog-details {
    text-align: left;
    padding: 20px 15px;
    background:#F7F7F7;
}
.blog-details > h2 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}
.blog-details > p {
    margin: 13px 0px;
    line-height: 24px;
    color:#9A9A9A;
}

.like-comment li {
    display: inline;
    color: #757575;
    margin-right: 20px;
}
.like-comment li:last-child{margin-right:0px;}
li.read-more > a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    line-height: 15px;
    padding: 7px 14px;
    text-transform: uppercase;
}
li.read-more > a:hover{
    background: #FF7F00;
    color: #fff;
}
.like-comment li i {
    font-size: 15px;
    margin-right: 7px;
}
.like-comment span {
    margin-right: 5px;
}
/* --------------------------end blog section ----------------------------- */


/* --------------------------start brand section ----------------------------- */
.brand-section.section-padding {
    background: url(../images/brand-bg.jpg);
    padding: 80px 0 100px;
    box-shadow: 1px 3px 14px rgba(0,0,0,0.32) inset;
}
.brand-carousel {
    position: relative;
}
.single-brand img {
    border: 2px solid #ddd;
}
.brand-section .owl-prev,
.brand-section .owl-next {
    position: absolute;
    top: 28%;
}
.brand-section .owl-prev{
    left:-60px;
}
.brand-section .owl-next {
    right:-60px;
}

.newletter-wrapper::before,
.newletter-wrapper::after {
    content: "";
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 180px;
}
.newletter-wrapper::before {
    background: rgba(0, 0, 0, 0) url("../images/left-pattern.png") no-repeat;
    background-size:100% 100%;
    left: -220px;
}
.newletter-wrapper::after {
    background: rgba(0, 0, 0, 0) url("../images/right-pattern.png") no-repeat scroll 0 0;
    background-size:100% 100%;
    right: -220px;
}
/* --------------------------end brand section ----------------------------- */


/* --------------------------start newsletter section ----------------------------- */
.newsletter-section {
    position: relative;
    height: 80px;
}
.newletter-wrapper {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0px 0 6px rgba(0,0,0,0.50);
    left: 50%;
    margin-left: -280px;
    margin-top: -37px;
    padding: 25px 20px 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 560px;
}
.newsletter-section .section-heding > h2 {
    font-size: 20px;
    margin-bottom: 35px;
}
.newsletter-section .section-heding h2::before {
    bottom: -18px;
    height: 14px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
}
.newletter-wrapper input {
    border: 2px solid #e6e6e6;
    border-radius: 20px 0 0 20px;
    padding: 6px 15px;
}
.newletter-wrapper button {
    background: #ff7f00 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 20px 20px 0;
    color: #fff;
    font-family: montserrat;
    font-weight: 900;
    margin-left: -6px;
    padding: 8px 12px;
    text-transform: uppercase;
}
/* --------------------------end newsletter section ----------------------------- */


/* --------------------------start footer widget section ----------------------------- */
.footer-widget {
    background: #222222 none repeat scroll 0 0;
    padding-top: 80px;
}
.single-widget > h3 {
    color: #8b8b8b;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    margin-bottom: 40px;
}
.single-widget > h3::before {
    background: #8b8b8b none repeat scroll 0 0;
    bottom: -15px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}
.single-widget li {
    line-height: 30px;
}
.single-widget li i {
    color: #8b8b8b;
    font-size: 9px;
    margin-right: 10px;
}
.single-widget li a {
    color: #8b8b8b;
}
.single-widget li:hover i,
.single-widget li:hover a{
    color: #FF7F00;
}

.single-widget address p {
    color: #8b8b8b;
    margin-bottom:15px;
}
.single-widget address a{color: #8b8b8b;}
.single-widget address a:hover{color: #FF7F00;}
.single-widget address i {
    font-size: 17px;
    margin-right: 10px;
}


.contact-payment {
    border-top: 1px solid #3e3e3e;
    margin-top: 15px;
    padding: 20px 0;
}
.contact-payment .social-contact.pull-left {
    margin-top: 0;
}
.contact-payment .social-contact li {
    display: inline;
    margin-right: 18px;
}
.contact-payment .social-contact a {
    border: 1px solid #8b8b8b;
    border-radius: 100%;
    display: inline-block;
    height: 36px;
    padding: 7px 9px;
    width: 36px;
}
.contact-payment .social-contact a i {
    font-size: 18px;
    color:#8b8b8b;
}
.contact-payment .social-contact a:hover{border: 1px solid #FF7F00;}
.contact-payment .social-contact a:hover i{color: #FF7F00;}
.contact-payment .contact-payment li i {
    color: #8b8b8b;
    font-size: 16px;
}
.contact-payment .social-contact li:first-child a {
    padding: 8px 11px;
}
.contact-payment .payment-method.pull-right li {
    display: inline;
    margin-left: 12px;
}
.payment-method.pull-right {
    margin-top: 8px;
}
/* --------------------------end footer widget section ----------------------------- */

/* footer */
footer {
    background: #1c1c1c none repeat scroll 0 0;
    padding: 25px 0;
    text-align: center;
}
footer p {
    color: #626262;
}
footer a, footer a:focus, footer a:hover {
    color: #ff7f00;
    font-weight: bold;
    text-decoration:none;
}









