@media (min-width: 1200px) {}


@media (min-width: 992px) and (max-width: 1199px) {
    body{
        /* background:orange; */
    }
    header {
        padding: 8px 0;
    }
    .main-menu ul li a {
        color: #777 !important;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px;
        font-size: 13px;
    }
    .main-menu .appointment {
        padding: 7px 7px !important;
        font-size: 12px;
        margin-top: 6px;
    }

    /* beauty lab section */
    .beautylab-content .single-content {
        padding-left: 60px;
        width: 242px;
    }

    /* booking section */
    .section-padding {
        padding: 70px 0;
    }
    .booking-section .section-header h1,
    .booking-section .section-header p {
        color: #fff;
    }
    .booking-section {
        background: rgba(0, 0, 0, 0) url("../image/slider1.jpg") no-repeat;
        background-size: cover;
        background-position: left center;
    }

    /* -----------------start service section------------------- */
    .single-service {
        height: 246px;
        width: 302px;
    }
    .hover-overlay > h4 a, .service-text > h4 a {
        margin: 40px 0 10px;
    }
    .service-text > h4 a::before,
    .hover-overlay > h4 a::before {
        top: -18px;
    }
    /* -----------------end service section------------------- */


    /* -----------------beaulab gellary section------------------- */
    .single-gallery {
        height: 220px;
        width: 299px;
    }
    .caption-overlay > h4 a {
        margin: 37px 0 26px;
    }
    /* -----------------end beaulab gellary section------------------- */


    /* -----------------price list section------------------- */
    .price-list-section .single-price-list {
        margin-left: 35px;
        margin-top: 40px;
        width: 450px;
    }
    /* -----------------end price list section------------------- */


    /* -----------------start blog section------------------- */
    .blog-carousel-area .single-blog {
        margin-left: 20px;
        width: 290px;
    }
    .blog-section .like-comment span {
        font-size: 13px;
    }
    /* -----------------end blog section------------------- */



}  /* end orange(992) */

@media (min-width: 768px) and (max-width: 991px) {
    body{
        /* background:pink; */
    }
    header {
        padding: 8px 0;
    }
    .logo a {
        height: 46px;
        width: 170px;
    }
    .main-menu ul li a {
        color: #777 !important;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px;
        font-size: 14px;
    }
    .main-menu .appointment {
        display: none;
    }

    /* -------------slider------------ */
    .tp-caption.sfb.fadeout.start > a {
        font-size: 13px!important;
        padding: 10px 20px!important;
        margin-top: 0px!important;
        display: block;
    }
    /* -------------end  slider------------ */

    /* beauty lab section */
    .beautylab-content .single-content {
        padding-left: 60px;
        width: 333px;
    }
    .beauty-carousel {
        display: none!important;
        position: absolute;
    }
    /* end beaulab section */


    /* booking section */
    .section-padding {
        padding: 70px 0;
    }
    .booking-section .section-header h1,
    .booking-section .section-header p {
        color: #fff;
    }
    .booking-section {
        background: rgba(0, 0, 0, 0) url("../image/slider1.jpg") no-repeat;
        background-size: cover;
        background-position: left center;
    }

    /* -----------------start service section------------------- */
    .service-content {
        margin-left: -20px;
    }
    .single-service {
        height: 266px;
        width: 349px;
    }
    .hover-overlay > h4 a, .service-text > h4 a {
        margin: 40px 0 10px;
    }
    .service-text > h4 a::before,
    .hover-overlay > h4 a::before {
        top: -18px;
    }
    /* -----------------end service section------------------- */


    /* -----------------beaulab gellary section------------------- */
    .beautylab-gallery .section-header {
        margin-bottom: 40px;
    }
    .feltering-menu li {
        font-size: 15px;
        padding: 6px 19px;
    }
    .single-gallery {
        height: 257px;
        width: 348px;
    }
    .caption-overlay > h4 a {
        margin: 57px 0 26px;
    }
    /* -----------------end beaulab gellary section------------------- */


    /* -----------------start product section------------------- */
    .product-carousel .owl-buttons {
        padding: 0;
    }
    .product-carousel .owl-prev,
    .product-carousel .owl-next {
        padding: 0 8px !important;
    }
    .product-carousel i {
        font-size: 20px;
    }
    /* -----------------end product section------------------- */



    /* -----------------price list section------------------- */
    .price-list-tab .tab-menu li a {
        font-size: 15px;
        padding: 6px 14px;
    }
    .price-list-section .single-price-list {
        margin-left: 35px;
        margin-top: 30px;
        width: 340px;
    }
    /* -----------------end price list section------------------- */


    /* -----------------start blog section------------------- */
    .blog-carousel-area .single-blog {
        margin-left: 20px;
        width: 290px;
    }
    .blog-section .like-comment span {
        font-size: 13px;
    }

    .discount-content {
        width: 85%;
    }
    /* -----------------end blog section------------------- */




} /* query end pink (768px) */

@media (min-width: 600px) and (max-width: 767px) {
    body{
        /* background:gray; */
    }
    .section-padding {
        padding: 60px 0;
    }
    .section-header h1 {
        font-size: 30px;
        margin-bottom: 11px;
    }


    .opening-time.pull-left > span {
        font-size: 12px;
    }
    .contact-mail > span {
        margin: 0 5px;
    }
    .contact-mail a {
        font-size: 12px;
    }
    /* start header */
    header {
        padding: 8px 0;
    }
    .logo a {
        height: 46px;
        width: 170px;
    }
    nav.main-menu {
        margin-top: -45px !important;
        float: none;
        width: 100%;
    }
    .navbar-toggle {
        margin-bottom: 12px;
    }

    /* menu */
    nav.main-menu {
        margin-top: -45px!important;
    }
    .main-menu .nav > li {
        display: inline-block;
    }
    .main-menu .nav.navbar-nav {
        text-align: center;
    }
    .main-menu ul li a {
        color: #777 !important;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px;
        font-size: 14px;
    }
    .main-menu .appointment {
        display: none;
    }

    /* -------------slider------------ */
    .tp-caption.sfb.fadeout.start > a {
        display: block;
        font-size: 12px !important;
        margin-left: 29px !important;
        margin-top: 0 !important;
        padding: 10px 13px !important;
    }
    /* -------------end  slider------------ */

    /* beauty lab section */
    .beautylab-content {
        margin: 0 auto;
        width: 556px;
    }
    .beautylab-content .single-content {
        padding-left: 60px;
        width: 45%;
        margin-left: 0;
    }
    .beautylab-content .single-content:nth-child(2n+1) {
        margin-right: 53px;
    }
    .beauty-carousel {
        display: none!important;
        position: absolute;
    }
    .single-content.expert::before {
        width: 550px;
    }
    .single-content.expert::after {
        height: 300px;
        right: -23px;
    }
    .single-content h4 a {
        font-size: 18px;
        margin-bottom: 24px;
    }
    /* end beaulab section */


    /* booking section */
    .booking-section .section-header h1,
    .booking-section .section-header p {
        color: #fff;
    }
    .booking-section {
        background: rgba(0, 0, 0, 0) url("../image/slider1.jpg") no-repeat;
        background-size: cover;
        background-position: left center;
    }
    .booking-form-area {
        padding: 30px 20px;
        width: 550px;
    }
    .booking-form-area button {
        padding: 8px 10px;
        width: 180px;
        border-radius: 3px;
    }

    /* -----------------start service section------------------- */
    .service-content {
        margin: 0 auto;
        width: 550px;
    }
    .single-service {
        height: 226px;
        width: 47.7%;
        margin-left: 0px;
    }
    .service-section .single-service:nth-child(2n+1) {
        margin-right: 4%;
    }
    .hover-overlay > h4 a, .service-text > h4 a {
        margin: 40px 0 10px;
    }
    .service-text > h4 a::before,
    .hover-overlay > h4 a::before {
        top: -18px;
    }
    .service-text, .hover-overlay {
        padding: 20px;
    }
    /* -----------------end service section------------------- */


    /* -----------------beaulab gellary section------------------- */
    .beautylab-gallery .section-header {
        margin-bottom: 40px;
    }
    .feltering-menu {
        margin-bottom: 30px;
    }
    .feltering-menu > ul {
        text-align: center;
    }
    .feltering-menu li {
        font-size: 14px;
        padding: 5px 16px;
        margin-right: 5px;
    }
    .beautylab-gallery .gallery {
        margin: auto;
        width: 548px;
    }
    .single-gallery:nth-child(2n+1) {
        margin-right: 4%;
    }
    .single-gallery {
        height: 194px;
        width: 48%;
        margin-left:0px;
    }
    .single-gallery .caption-overlay {
        padding: 10px;
    }
    .caption-overlay > h4 a {
        margin: 48px 0 26px;
    }
    /* -----------------end beaulab gellary section------------------- */


    /* -----------------start product section------------------- */
    .product-carousel .owl-buttons {
        padding: 0;
    }
    .product-carousel .owl-prev,
    .product-carousel .owl-next {
        padding: 0 8px !important;
    }

    .product-carousel i {
        font-size: 20px;
    }
    .single-product-carousel button {
        font-size: 14px;
        padding: 6px 20px;
    }
    /* -----------------end product section------------------- */



    /* -----------------price list section------------------- */
    .price-list-tab .tab-menu li {
        margin: 0;
    }
    .price-list-tab .tab-menu li a {
        font-size: 13px;
        padding: 6px 10px;
    }
    .price-list-section .tab-content {
        margin-top: 20px;
        margin-left: 0;
    }
    .price-list-section .single-price-list {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
    .price-list-section .single-price-list > p {
        margin-top: 5px;
    }
    .price-list-section a.booking-now {
        font-size: 15px;
        padding: 9px 15px;
        width: 200px;
    }
    /* -----------------end price list section------------------- */

    .tesimonial-section .owl-buttons {
        display: none;
    }

    /* -----------------start blog section------------------- */
    .blog-carousel-area .single-blog {
        margin: 0 auto;
        width: 70%;
    }
    .blog-section .like-comment span {
        font-size: 13px;
    }

    .discount-content {
        width: 100%;
    }
    .discount-content > a {
        font-size: 14px;
        padding: 9px 21px;
    }
    /* -----------------end blog section------------------- */


    /* -----------------footer widget section------------------- */
    .single-widget.recent-post-widget > h4,
    .single-widget.newsletter-widget > h4	{
        margin-bottom: 20px;
    }
    .single-widget.recent-post-widget {
        margin: 40px 0px;
    }

} /* end query skyblue (600px) */

@media (min-width: 400px) and (max-width: 599px) {
    body{
        /* background:yellow; */
    }
    .header-top {
        display: none;
    }
    .section-padding {
        padding: 60px 0;
    }
    .section-header h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .section-header > p {
        width: 100%;
    }

    .opening-time.pull-left > span {
        font-size: 12px;
    }
    .contact-mail > span {
        margin: 0 5px;
    }
    .contact-mail a {
        font-size: 12px;
    }
    /* start header */
    header {
        padding: 8px 0;
    }
    .logo a {
        height: 46px;
        width: 170px;
    }
    nav.main-menu {
        margin-top: -45px !important;
        float: none;
        width: 100%;
    }
    .navbar-toggle {
        margin-bottom: 12px;
    }

    /* menu */
    nav.main-menu {
        margin-top: -45px!important;
    }
    .main-menu .nav > li {
        display: inline-block;
    }
    .main-menu .nav.navbar-nav {
        text-align: center;
    }
    .main-menu ul li a {
        color: #777 !important;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px;
        font-size: 14px;
    }
    .main-menu .appointment {
        display: none;
    }

    /* -------------slider------------ */
    .tp-rightarrow, .tp-leftarrow {
        display: none;
    }
    .tp-caption.sfb.fadeout.start > a {
        display: block;
        font-size: 10px !important;
        margin-left: 42px !important;
        margin-top: 0 !important;
        padding: 9px 10px !important;
    }
    /* -------------end  slider------------ */

    /* beauty lab section */
    .beautylab-content {
        margin: 0 auto;
        width: 100%;
    }
    .beautylab-content .single-content {
        padding-left: 60px;
        width: 100%;
        margin-left: 0;
    }
    .beautylab-content .single-content:nth-child(2n+1) {
        margin-right: 53px;
    }
    .beauty-carousel {
        display: none!important;
        position: absolute;
    }
    .single-content::before {
        background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 0, 0, 0), rgba(200, 200, 200, 1), rgba(255, 0, 0, 0)) repeat scroll 0 0;
        bottom: -24px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%!important;
    }
    .single-content.expert::after {
        display:none;
    }
    .single-content h4 a {
        font-size: 18px;
        margin-bottom: 24px;
    }
    /* end beaulab section */


    /* booking section */
    .booking-section .section-header h1,
    .booking-section .section-header p {
        color: #fff;
    }
    .booking-section {
        background: rgba(0, 0, 0, 0) url("../image/slider1.jpg") no-repeat;
        background-size: cover;
        background-position: left center;
    }
    .booking-form-area {
        padding: 30px 20px;
        width: 100%;
    }
    .booking-section .form-control {
        width: 100%;
        margin-right:0px;
    }
    .booking-form-area input, .booking-form-area select, #datetimepicker1 {
        float: none;
        width: 100%;
        margin-right: 0px;
    }
    .booking-form-area button {
        border-radius: 3px;
        padding: 8px 10px;
        width: 170px;
        font-size: 14px;
    }

    /* -----------------start service section------------------- */
    .service-content {
        margin: 0 auto;
        text-align: center;
        width: 355px;
    }
    .single-service {
        height: 266px;
        margin: 10px auto;
        width: 353px;
    }
    .hover-overlay > h4 a, .service-text > h4 a {
        margin: 40px 0 10px;
    }
    .service-text > h4 a::before,
    .hover-overlay > h4 a::before {
        top: -18px;
    }
    .service-text, .hover-overlay {
        padding: 20px;
    }
    /* -----------------end service section------------------- */


    /* -----------------beaulab gellary section------------------- */
    .beautylab-gallery .section-header {
        margin-bottom: 40px;
    }
    .feltering-menu {
        margin-bottom: 30px;
    }
    .feltering-menu > ul {
        text-align: center;
    }
    .feltering-menu li {
        font-size: 14px;
        padding: 5px 13px;
        margin-right: 5px;
    }
    .beautylab-gallery .gallery {
        margin: 0 auto;
        width: 353px;
    }
    .single-gallery {
        height: 261px;
        margin: 10px auto;
        width: 353px;
    }
    .single-gallery .caption-overlay {
        padding: 40px;
    }
    .caption-overlay > h4 a {
        margin: 48px 0 26px;
    }
    /* -----------------end beaulab gellary section------------------- */


    /* -----------------start product section------------------- */
    .product-carousel .owl-buttons {
        padding: 0;
    }
    .product-carousel .owl-prev,
    .product-carousel .owl-next {
        padding: 0 8px !important;
    }
    .product-carousel .owl-buttons {
        border-radius: 3px;
        top: 270px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
        right: 50%;
        margin-right: -40px;
        padding: 5px;
        position: absolute;
    }
    .product-carousel i {
        font-size: 20px;
    }
    .single-product-carousel button {
        font-size: 14px;
        padding: 6px 20px;
    }
    /* -----------------end product section------------------- */



    /* -----------------price list section------------------- */
    .price-list-tab .tab-menu li {
        margin: 0;
    }
    .price-list-tab .tab-menu li a {
        font-size: 13px;
        padding: 6px 10px;
    }
    .price-list-section .tab-content {
        margin-top: 20px;
        margin-left: 0;
    }
    .price-list-section .single-price-list {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
    .price-list-section .single-price-list > p {
        margin-top: 5px;
    }
    .price-list-section a.booking-now {
        font-size: 15px;
        padding: 9px 15px;
        width: 200px;
    }
    /* -----------------end price list section------------------- */

    .tesimonial-section .owl-buttons {
        display: none;
    }

    /* -----------------start blog section------------------- */
    .blog-carousel-area .single-blog {
        margin: 0 auto;
        width: 100%;
    }
    .blog-section .like-comment span {
        font-size: 13px;
    }

    .discount-content {
        width: 100%;
    }
    .discount-content > p {
        display: block;
        float: none;
        text-align: center;
    }
    .discount-content > a {
        display: block;
        float: none;
        font-size: 14px;
        margin: 10px auto 0;
        padding: 9px 21px;
        text-align: center;
        width: 190px;
    }
    /* -----------------end blog section------------------- */


    /* -----------------footer widget section------------------- */
    .single-widget.recent-post-widget > h4,
    .single-widget.newsletter-widget > h4	{
        margin-bottom: 20px;
    }
    .single-widget.recent-post-widget {
        margin: 40px 0px;
    }



} /* end query yellow (400px) */

@media (max-width: 400px) {
    body{
        /* background:green */
    }
	.header-top {
        display: none;
    }
    .section-padding {
        padding: 30px 0;
    }
	.section-header {
	  margin-bottom: 30px;
	}
    .section-header h1 {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .section-header > p {
        width: 100%;
		font-size: 13px;
    }
	
    /* start header */
    header {
        padding: 14px 0 8px;
    }
    .logo a {
        height: 37px;
		width: 130px;
    }
    nav.main-menu {
        margin-top: -45px !important;
        float: none;
        width: 100%;
    }
    .navbar-toggle {
        margin-bottom: 8px;
    }

    /* menu */
    nav.main-menu {
        margin-top: -45px!important;
    }
    .main-menu .nav > li {
        display: block;
		text-align: left;
    }
    .main-menu .nav.navbar-nav {
        text-align: center;
    }
    .main-menu ul li a {
        color: #777 !important;
        font-weight: bold;
        text-transform: uppercase;
        padding: 6px;
        font-size: 14px;
    }
    .main-menu .appointment {
        display: none;
    }

    /* -------------slider------------ */
    .tp-rightarrow, .tp-leftarrow {
        display: none;
    }
    .tp-caption.sfb.fadeout.start > a {
        display: block;
		font-size: 9px !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		padding: 9px 10px !important;
    }
	.tp-bullets.preview3 .bullet {
	  height: 1px !important;
	  width: 1px !important;
	}
	.tp-bullets.preview3 .bullet:hover,
	.tp-bullets.preview3 .bullet.selected {
	  height: 2px !important;
	  width: 2px !important;
	}
    /* -------------end  slider------------ */

    /* beauty lab section */
    .beautylab-content {
        margin: 0 auto;
        width: 100%;
    }
    .beautylab-content .single-content {
        padding-left: 60px;
        width: 100%;
        margin-left: 0;
    }
	.single-content:nth-child(4)::before {
	  display: none!important;
	}
    .beauty-carousel {
        display: none!important;
        position: absolute;
    }
    .single-content::before {
        background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 0, 0, 0), rgba(200, 200, 200, 1), rgba(255, 0, 0, 0)) repeat scroll 0 0;
        bottom: -24px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%!important;
    }
    .single-content.expert::after {
        display:none;
    }
    .single-content h4 a {
        font-size: 18px;
        margin-bottom: 24px;
    }
    /* end beaulab section */


    /* booking section */
    .booking-section .section-header h1,
    .booking-section .section-header p {
        color: #fff;
    }
    .booking-section {
        background: rgba(0, 0, 0, 0) url("../image/slider1.jpg") no-repeat;
        background-size: cover;
        background-position: left center;
    }
    .booking-form-area {
        padding: 30px 20px;
        width: 100%;
    }
    .booking-section .form-control {
        width: 100%;
        margin-right:0px;
    }
    .booking-form-area input, .booking-form-area select, #datetimepicker1 {
        float: none;
        width: 100%;
        margin-right: 0px;
    }
    .booking-form-area button {
        border-radius: 3px;
        padding: 8px 10px;
        width: 170px;
        font-size: 14px;
		margin-left: -85px;
    }

    /* -----------------start service section------------------- */
    .service-content {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .single-service {
        float: inherit !important;
		margin: 10px auto !important;
		width: 100%;
		height: 230px;
		padding: 30px;
    }
    .hover-overlay > h4 a, .service-text > h4 a {
        margin: 40px 0 10px;
    }
    .service-text > h4 a::before,
    .hover-overlay > h4 a::before {
        top: -18px;
    }
    .service-text, .hover-overlay {
        padding: 20px;
    }
	.hover-overlay > p, .service-text > p {
	  line-height: 20px;
	}
    /* -----------------end service section------------------- */


    /* -----------------beaulab gellary section------------------- */
    .beautylab-gallery .section-header {
        margin-bottom: 40px;
    }
    .feltering-menu {
        margin-bottom: 30px;
    }
    .feltering-menu > ul {
        text-align: center;
    }
    .feltering-menu li {
        font-size: 11px;
		margin-right: 0px;
		padding: 3px 7px;
    }
    .beautylab-gallery .gallery {
        margin: 0 auto;
        width: 100%;
    }
    .single-gallery {
        height: auto;
		margin: 10px auto;
		width: 100%;
    }
    .single-gallery .caption-overlay {
        padding: 9px;
    }
    .caption-overlay > h4 a {
        margin: 48px 0 26px;
    }
    /* -----------------end beaulab gellary section------------------- */


    /* -----------------start product section------------------- */
	.product-section.section-padding {
	  padding: 30px 0 80px;
	}
    .product-carousel .owl-buttons {
        padding: 0;
    }
    .product-carousel .owl-prev,
    .product-carousel .owl-next {
        padding: 0 8px !important;
    }
    .product-carousel .owl-buttons {
        border-radius: 3px;
        top: 270px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
        right: 50%;
        margin-right: -40px;
        padding: 5px;
        position: absolute;
    }
    .product-carousel i {
        font-size: 20px;
    }
    .single-product-carousel button {
        font-size: 14px;
        padding: 6px 20px;
    }
	
    /* -----------------end product section------------------- */



    /* -----------------price list section------------------- */
	.price-list-section .section-header {
	  margin-bottom: 20px;
	}
    .price-list-tab .tab-menu li {
        margin: 0;
    }
    .price-list-tab .tab-menu li a {
        font-size: 12px;
		padding: 6px 9px;
    }
    .price-list-section .tab-content {
        margin-top: 20px;
        margin-left: 0;
    }
    .price-list-section .single-price-list {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }
	.single-price-list h4 a {
	  font-size: 18px;
	}
    .price-list-section .single-price-list > p {
        margin-top: 5px;
		font-size: 13px;
    }
	.single-price-list h4 span {
	  font-size: 13px;
	}
    .price-list-section a.booking-now {
       font-size: 14px;
		padding: 8px 13px;
		width: 180px;
		margin-top: 50px;
		margin-bottom: 30px;
    }
    /* -----------------end price list section------------------- */

    .tesimonial-section .owl-buttons {
        display: none;
    }
	.tesimonial-section h1 {
	  margin-bottom: 50px;
	  font-size: 26px;
	}
	.client-msg {
	  font-size: 15px;
	  margin: 20px auto 20px;
	  width: 100%;
	}

    /* -----------------start blog section------------------- */
    .blog-carousel-area .single-blog {
        margin: 0 auto;
        width: 100%;
    }
    .blog-section .like-comment span {
        font-size: 13px;
		margin-right: 4px;
    }
	.blog-section .like-comment span i {
	  font-size: 15px;
	}
	.blog-content-area > h4 {
	  color: #3b3b3b;
	  margin: 20px 0 10px;
	  font-size: 16px;
	}
	.blog-content-area > p {
	  font-size: 13px;
	  line-height: 19px;
	  margin-bottom: 8px;
	}
	.blog-content-area > a {
	  font-size: 13px;
	}
    /* -----------------end blog section------------------- */
	
	
    /* -----------------discount section------------------- */
	.discount-content {
        width: 100%;
    }
    .discount-content > p {
        display: block;
        float: none;
        text-align: center;
		font-size: 13px;
    }
    .discount-content > a {
        display: block;
		float: none;
		font-size: 13px;
		margin: 10px auto 0;
		padding: 7px 11px;
		text-align: center;
		width: 163px;
    }
    /* -----------------/discount section------------------- */


    /* -----------------footer widget section------------------- */
    .single-widget.recent-post-widget > h4,
    .single-widget.newsletter-widget > h4	{
        margin-bottom: 20px;
    }
    .single-widget.recent-post-widget {
        margin: 40px 0px;
    }
	.single-widget.contact-widget > p {
	  font-size: 14px;
	  line-height: 21px;
	  margin: 22px 0 21px;
	}
	.contact-widget p {
	  font-size: 13px;
	}
	.recent-post-widget .single-post > p {
	  line-height: 22px;
	  text-align: left;
	}
	.newsletter-widget button {
	  font-size: 15px;
	  padding: 8px 20px;
	}
	.newsletter-widget input {
	  font-size: 13px;
	  height: 40px;
	  margin-bottom: 15px;
	  padding: 5px 13px;
	}
	footer p {
	  font-size: 13px;
	}
	#scrollUp {
	  background: rgba(0, 0, 0, 0) url("../image/scrollup.png") no-repeat;
	  bottom: 50px;
	  height: 32px;
	  right: 0px;
	  text-indent: -9999px;
	  width: 32px;
	  background-position: center center;
	}
	
	
}



