@media (min-width: 1200px) {}


@media (min-width: 992px) and (max-width: 1199px) {
    body{
        /* background:orange; */
    }
    /* -----------header section------------ */
    .main-menu-area nav ul li a {
        padding: 8px 17px;
        font-size: 13px;
    }
    .main-menu-area nav ul li a i {
        top: 9px;
    }
    .main-menu-area nav ul li:hover .fa-angle-down{
        top: 16px;
    }
    .search-and-setting-area {
        margin-top: 28px;
    }
    .search-and-setting-area div i {
        font-size: 17px;
        margin-left: 10px;
    }
    .main-menu-area {
        margin-top: 25px;
    }


    /* slider */
    .slider-caption button {
        padding: 8px 32px;
        font-size:17px;
    }


	/* comment area */
    .commenter-img {
        height: 111px;
    }
    .comment-mags.pull-right {
        margin-top: 0px;
    }

	/* --------about section------------ */
    .about-area h2:after {
        width: 66%;
    }
    .latest-tweet-area h2:after {
        width: 54%;
    }
    .latest-facebook-area h2:after {
        width: 42%;
    }
    .about-area .social-icon i {
        margin-bottom: 8px;
    }
    .about-area .social-icon a:hover i {
        background: #dbb779 none repeat scroll 0 0;
        border: 1px solid #dbb779;
    }



    /* foter-widget */
    .widget-1 {
        width: 330px;
    }
    .widget-5 {
        clear:both;
        margin-top: 40px;
    }






}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        /* background:pink; */
    }
    /* logo */
    .search-and-setting-area {
        display: none;
    }
    .for-responsive{
        display:block;
    }
    .logo-area {
        float: left;
        margin-top: 20px;
    }
    /* meneu */

    /* slider */
    .slider-caption p {  
        font-size: 21px;
    }
    .slider-caption button {
        padding: 9px 33px;
        font-size: 19px;
    }


    /* --------------product section------------ */
    .tax-heading > h1, .discount-heading > h1 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .discount-area input[type="text"] {
        margin-bottom: 20px;
    }
    .tax-form input[type="text"] {
        margin-bottom: 25px;
    }
    .grand-total-area {
        padding: 16px;
    }
    .subtotal {
        font-size: 15px;
    }
    .subtotal > span {
        margin-left: 18px;
    }
    .grand-total {
        font-size: 15px;
    }
    .grand-total > span {
        margin-left: 17px;
    }
    .grand-total-button > button {
        font-size: 13px;
        padding: 7px 11px;
    }
    .grand-total-button > p {
        font-size: 12px;
    }


    /* ----------about-area--------- */
    .about-area h2::after {
        width: 60%;
    }
    .about-area h2, .latest-tweet-area h2, .latest-facebook-area h2 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .latest-tweet-area h2:after {
        width: 44%;
    }
    .latest-facebook-area h2:after {
        width: 30%;
    }
    .about-area .social-icon i {
        margin-bottom: 8px;
    }
    .about-area .social-icon a:hover i {
        background: #dbb779 none repeat scroll 0 0;
        border: 1px solid #dbb779;
    }
    .about-area p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .single-tweet p {
        font-size: 13px;
        line-height: 20px;
    }
    .single-fb p {
        font-size: 13px;
        line-height: 20px;
    }
    .single-tweet {
        padding-left: 26px;
    }
    .single-tweet i {
        font-size: 19px;
    }
    .single-fb i {
        font-size: 20px;
    }


    /* ------------commenter-section------------ */
    .commenter-wrapper {
        margin: auto;
        width: 70%;
    }
    .commenter-img {
        width: 26%;
    }
    .comment-mags.pull-right {
        margin-top: 0px;
        width: 70%;
    }


    /* foter-widget */
    .widget-1 {
        width: 307px;
    }
    .widget-5 {
        margin-top: 30px;
    }
    .single-widget h2 {
        font-size: 15px;
    }
    .single-widget.widget-1 p {
        font-size: 14px;
    }
    .single-widget ul li a {
        font-size: 12px;
        line-height: 21px;
    }
    .widget-4 {
        clear: both;
        margin-top: 30px;
    }
    .contact-info .skype-no {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget .social-icon i {
        font-size: 19px;
    }



}

@media (min-width: 600px) and (max-width: 767px) {
    body{
        /* background:#619600; */
    }
    /* logo */
    .search-and-setting-area {
        display: none;
    }
    .for-responsive{
        display:block;
    }
    .logo-area {
        float: left;
        margin-top: 20px;
    }

    /* slider */
    .slider-caption p {  
        font-size: 21px;
    }
    .slider-caption button {
        padding: 9px 33px;
        font-size: 19px;
    }

    /* ----------product table section------------ */
    .product-feature thead th {
        padding: 10px 10px !important;
    }
    .product-name {
        font-size: 17px;
    }
    .price {
        font-size: 17px;
        font-weight: 400;
    }
    .quantity select {
        width: 50px;
    }
    .count-shopping-button.pull-left > button, .update-shopping-button.pull-right > button {
        font-size: 13px;
        margin: 14px 12px;
        padding: 7px 17px;
    }

    /* --------------product section------------ */
    .tax-heading > h1, .discount-heading > h1 {
        font-size: 18px;
        margin-bottom: 2px;
    }
    .tax-form {
        margin-bottom: 50px;
    }
    .tax-heading > p, .discount-heading > p {
        font-size: 13px;
        margin-bottom: 16px;
        padding-bottom: 9px;
    }
    .tax-form .form-group > select {
        font-size: 13px;
        margin-bottom: 0;
        width: 350px;
    }
    .tax-form label {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .discount-area input[type="text"] {
        margin-bottom: 20px;
        margin-bottom: 20px;
        width: 350px;
    }
    .tax-form input[type="text"] {
        margin-bottom: 25px;
        width: 350px;
    }
    .grand-total-area {
        margin-top: 70px;
        padding: 24px;
        width: 310px;
    }
    .subtotal {
        font-size: 15px;
    }
    .subtotal > span {
        margin-left: 18px;
    }
    .grand-total {
        font-size: 15px;
    }
    .grand-total > span {
        margin-left: 17px;
    }
    .grand-total-button > button {
        font-size: 13px;
        padding: 7px 11px;
    }
    .grand-total-button > p {
        font-size: 12px;
    }
    .tax-form button {
        font-size: 14px;
        padding: 6px 20px;
    }
    .discount-area button {
        padding: 7px 16px;
    }
    .about-area h2, .latest-tweet-area h2, .latest-facebook-area h2 {
        margin-bottom: 15px;
    }


    /* --------------about-area--------- */
    .about-area,
    .latest-tweet-area {
        margin-bottom: 50px;
    }
    .about-area h2::after, .latest-tweet-area h2::after, .latest-facebook-area h2::after {
        bottom: -6px;
        left: 0;
        width: 100% !important;
    }
    .single-tweet {
        margin-bottom: 15px;
    }
    .single-fb {
        margin-bottom: 12px;
    }
    .about-area .social-icon a:hover i {
        background: #dbb779 none repeat scroll 0 0;
        border: 1px solid #dbb779;
    }

    /* ------------commenter-section------------ */
    .commenter-wrapper {
        margin: auto;
        width: 450px;
    }
    .commenter-img {
        height: 120px;
        width: 120px;
        margin-right: 20px;
    }
    .comment-mags.pull-right {
        margin-top: 0px;
        width: 310px;
    }



    /* foter-widget */
    .widget-1 {
        width: 307px;
    }
    .widget-5 {
        margin-top: 30px;
        margin-left: 10px;
        width: 238px;
    }
    .single-widget h2 {
        font-size: 15px;
    }
    .single-widget.widget-1 p {
        font-size: 14px;
    }
    .single-widget ul li a {
        font-size: 12px;
        line-height: 21px;
    }
    .widget-3 {
        clear: both;
        margin-top: 30px;
        width: 170px;
    }
    .widget-4 {
        margin-left: 15px;
        margin-top: 30px;
        width: 120px;
    }
    .contact-info .skype-no {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget .social-icon i {
        font-size: 19px;
    }
    .newsletter-area {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 15px;
    }
    .newsletter-area input[type="email"] {
        margin-bottom: 7px;
        margin-right: 0px;
        width: 100%;
    }







}

@media (min-width: 400px) and (max-width: 599px) {
    body{
        /* background:yellow; */
    }
    /* logo */
    .search-and-setting-area {
        display: none;
    }
    .for-responsive{
        display:block;
    }
    .logo-area {
        float: left;
        margin-top: 20px;
    }

    /* slider */
    .slider-caption p {  
        font-size: 25px;
    }
    .slider-caption button {
        border: 4px solid #dbb779;
        font-size: 26px;
        padding: 10px 33px;
        margin-top: 27px;
    }


    /* ----------product table section------------ */
    .product-feature thead th {
        padding: 10px 10px !important;
    }
    .product-name {
        font-size: 17px;
    }
    .price {
        font-size: 17px;
        font-weight: 400;
    }
    .quantity select {
        width: 50px;
    }
    .count-shopping-button.pull-left > button, .update-shopping-button.pull-right > button {
        font-size: 13px;
        margin: 14px 12px;
        padding: 7px 17px;
    }

    /* --------------product section------------ */
    .tax-heading > h1, .discount-heading > h1 {
        font-size: 18px;
        margin-bottom: 2px;
    }
    .tax-form {
        margin-bottom: 50px;
    }
    .tax-heading > p, .discount-heading > p {
        font-size: 13px;
        margin-bottom: 16px;
        padding-bottom: 9px;
    }
    .tax-form .form-group > select {
        font-size: 13px;
        margin-bottom: 0;
        width: 350px;
    }
    .tax-form label {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .discount-area input[type="text"] {
        margin-bottom: 20px;
        margin-bottom: 20px;
        width: 350px;
    }
    .tax-form input[type="text"] {
        margin-bottom: 25px;
        width: 350px;
    }
    .grand-total-area {
        margin-top: 70px;
        padding: 24px;
        width: 310px;
    }
    .subtotal {
        font-size: 15px;
    }
    .subtotal > span {
        margin-left: 18px;
    }
    .grand-total {
        font-size: 15px;
    }
    .grand-total > span {
        margin-left: 17px;
    }
    .grand-total-button > button {
        font-size: 13px;
        padding: 7px 11px;
    }
    .grand-total-button > p {
        font-size: 12px;
    }
    .tax-form button {
        font-size: 14px;
        padding: 6px 20px;
    }
    .discount-area button {
        padding: 7px 16px;
    }
    .about-area h2, .latest-tweet-area h2, .latest-facebook-area h2 {
        margin-bottom: 15px;
    }


    /* --------------about-area--------- */
    .about-area,
    .latest-tweet-area {
        margin-bottom: 50px;
    }
    .about-area h2::after, .latest-tweet-area h2::after, .latest-facebook-area h2::after {
        bottom: -6px;
        left: 0;
        width: 100% !important;
    }
    .single-tweet {
        margin-bottom: 15px;
    }
    .single-fb {
        margin-bottom: 12px;
    }
    .about-area .social-icon a:hover i {
        background: #dbb779 none repeat scroll 0 0;
        border: 1px solid #dbb779;
    }

    /* ------------commenter-section------------ */
    .commenter-wrapper {
        margin: auto;
        width: 355px;
    }
    .commenter-img {
        height: 90px;
        margin-right: 15px;
        width: 90px;
    }
    .comment-mags.pull-right {
        margin-top: 0px;
        width: 250px;
    }



    /* foter-widget */
    .footer-widget-wrapper {
        margin-left: 0;
    }
    .single-widget {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .widget-1 {
        width: 100%;
    }
    .widget-2 {
        margin-right: 20px;
        width: 140px;
    }
    .widget-3 {
        width: 193px;
    }
    .widget-4 {
        clear: both;
        width: 39%;
        margin-right: 14px;
    }
    .widget-5 {
        width: 57%;
    }
    .single-widget h2 {
        font-size: 15px;
    }
    .single-widget.widget-1 p {
        font-size: 14px;
    }
    .single-widget ul li a {
        font-size: 12px;
        line-height: 21px;
    }
    .contact-info .skype-no {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget .social-icon i {
        font-size: 19px;
    }
    .newsletter-area {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 15px;
    }
    .newsletter-area input[type="email"] {
        margin-bottom: 7px;
        margin-right: 0px;
        width: 100%;
    }

    /* footer */
    .copyright-text {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    footer {
        text-align: center;
    }






}

@media (max-width: 400px) {
    body{
        /* background:green */
    }
    /* logo */
    .search-and-setting-area {
        display: none;
    }
    .for-responsive{
        display: block;
        margin: 20px auto auto;
        float: inherit!important;
        width: 160px;
        text-align: center;
    }
    .search .fa.fa-search {
        margin-left: 0px!important;
    }
    .logo-area {
        float: inherit;
        margin: 20px auto auto;
        width: 140px;
    }


    /* slider */
    .slider-caption p {  
        font-size: 32px;
    }
    .slider-caption button {
        border: 4px solid #dbb779;
        font-size: 33px;
        margin-top: 21px;
        padding: 10px 33px;
    }
    .slider-caption .new {
        font-size: 61px;
        line-height: 50px;
    }
    .slider-caption .areival {
        font-size: 58px;
    }


    /* ----------product table section------------ */
    .product-feature thead th {
        padding: 10px 10px !important;
    }
    .product-name {
        font-size: 17px;
    }
    .price {
        font-size: 17px;
        font-weight: 400;
    }
    .quantity select {
        width: 50px;
    }
    .count-shopping-button.pull-left > button, .update-shopping-button.pull-right > button {
        font-size: 13px;
        margin: 14px 12px;
        padding: 7px 17px;
    }

    /* --------------product section------------ */
    .tax-heading > h1, .discount-heading > h1 {
        font-size: 17px;
        margin-bottom: 2px;
    }
    .tax-form {
        margin-bottom: 50px;
    }
    .tax-heading > p, .discount-heading > p {
        font-size: 13px;
        margin-bottom: 16px;
        padding-bottom: 9px;
    }
    .tax-form .form-group > select {
        font-size: 13px;
        margin-bottom: 0;
        width: 260px;
    }
    .tax-form label {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .discount-area input[type="text"] {
        margin-bottom: 20px;
        margin-bottom: 20px;
        width: 260px;
    }
    .tax-form input[type="text"] {
        margin-bottom: 25px;
        width: 260px;
    }
    .grand-total-area {
        margin-top: 60px;
        padding: 20px;
        text-align: left;
        width: 252px;
    }
    .subtotal {
        font-size: 15px;
    }
    .subtotal > span {
        margin-left: 61px;
    }
    .grand-total {
        font-size: 15px;
    }
    .grand-total > span {
        margin-left: 17px;
    }
    .grand-total-button > button {
        font-size: 12px;
        padding: 5px 11px;
    }
    .grand-total-button > p {
        font-size: 12px;
    }
    .tax-form button {
        font-size: 13px;
        padding: 4px 11px;
    }
    .discount-area button {
        padding: 5px 8px;
        font-size: 13px;
    }


    /* --------------about-area--------- */
    .about-area h2, .latest-tweet-area h2, .latest-facebook-area h2 {
        margin-bottom: 15px;
    }
    .about-area,
    .latest-tweet-area {
        margin-bottom: 50px;
    }
    .about-area h2::after, .latest-tweet-area h2::after, .latest-facebook-area h2::after {
        bottom: -6px;
        left: 0;
        width: 100% !important;
    }
    .single-tweet {
        margin-bottom: 15px;
    }
    .single-fb {
        margin-bottom: 12px;
    }
    .about-area .social-icon i {
        margin-bottom: 8px;
    }
    .about-area .social-icon a:hover i {
        background: #dbb779 none repeat scroll 0 0;
        border: 1px solid #dbb779;
    }

    /* ------------commenter-section------------ */
    .commenter-wrapper {
        margin: auto;
        width: 255px;
    }
    .commenter-img {
        height: 60px;
        margin-right: 12px;
        width: 60px;
    }
    .comment-mags.pull-right {
        margin-top: 0px;
        width: 173px;
    }
    .comment-mags.pull-right > p {
        font-size: 12px;
        line-height: 19px;
        margin: 3px 0 4px;
    }



    /* foter-widget */
    .footer-widget-wrapper {
        margin-left: 0;
    }
    .single-widget {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .widget-1 {
        width: 100%;
    }
    .widget-2 {
        margin-right: 0px;
        width: 100%;
    }
    .widget-3 {
        width: 100%;
    }
    .widget-4 {
        clear: both;
        margin-right: 0;
        width: 100%;
    }
    .widget-5 {
        width: 100%;
    }
    .single-widget h2 {
        font-size: 15px;
    }
    .single-widget.widget-1 p {
        font-size: 14px;
    }
    .single-widget ul li a {
        font-size: 12px;
        line-height: 21px;
    }
    .contact-info .skype-no {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget .social-icon i {
        font-size: 19px;
    }
    .newsletter-area {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 15px;
    }
    .newsletter-area input[type="email"] {
        margin-bottom: 7px;
        margin-right: 0px;
        width: 100%;
    }

    /* footer */
    .copyright-text {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    footer {
        text-align: center;
    }








}


