@media (min-width: 1200px) {}


 @media (min-width: 992px) and (max-width: 1199px) {
	body{
		background:orange;
	}
	#scrollUp {
	  right: 36px;
	}
	.search-bar {
	  height: 122px;
	}
	.search-bar input {
	  height: 122px;
	}
	.search-bar .cross {	
	  margin-right: 18px;
	}
	header {
	  padding: 30px 0;
	}
	.logo a {
	  height: 58px;
	  width: 250px;
	  margin-top: 4px;
	}
	/* menu */
	.main-menu .nav.navbar-nav a {
		font-size: 13px;
	}.nav.navbar-nav a:focus {
  color: #ccc !important;
}
	
	.slider-caption {
	  padding: 50px 0;
	}
	
	.author-colmn h4 {
	  margin: 13px 0 0;
	  font-size: 16px;
	}
	
	.headline {
	  font-size: 36px;
	}
	.headline p {
	  line-height: 45px;
	}
	
	.author-img {
	  height: 204px;
	  width: 205px;
	}
	
	/* counter */
	.countDown {
	  margin: 40px auto;
	}
	.countDown .single-count span {
	  font-size: 43px;
	  letter-spacing: 2px;
	}
	.single-count > p {
	  font-size: 16px;
	}
	.single-count {
	height: 120px;
	margin: 0 15px;
	width: 129.3px;
	}
	.single-count > img {
	  bottom: 44px;
	}
	.slider-caption .details {
	 letter-spacing: 2.0px;
	  padding: 23px 20px;
	}


 } /* end media query 992px-1199px */
 
 
 @media (min-width: 768px) and (max-width: 991px) {
	body{
	 background:pink;
	}
	#scrollUp {
	  background-position: center center;
	  bottom: 15px;
	  height: 40px;
	  right: 50px;
	  width: 41px;
	}
	/* searce bar */
	.search-bar {
	  height: 78px;
	}
	.search-bar input {
	  font-size: 15px;
	  height: 50px;
	  margin-top: 14px;
	}
	.search-bar button {
	  font-size: 17px;
	  right: 70px;
	  width: 58px;
	}
	.search-bar .cross {
	  height: 46px;
margin-top: -23px;
padding: 8px 16px 8px 8px;
width: 57px;
	}
	.search-bar .cross img {
	  display: block;
	}
	
	header {
	  padding: 10px 0;
	}
	/* logo */
	.logo a {
	  height: 46px;
margin-top: 4px;
width: 180px;
	}

	/* menu */
	.main-menu ul li {
	  margin: 0 10px;
	}
	.main-menu .nav.navbar-nav a {
		font-size: 12px;
		padding: 13px 0;
	}
	.nav.navbar-nav a:focus {
  color: #ccc !important;
}
	.main-menu ul .active > a::after,
	.main-menu ul li > a:hover::after	{
	  background: none;
	}
	.main-menu ul li i {
	  padding: 13px 0;
	}
	.main-menu ul li i::after {
	  left: -11px;
	}
	
	/* slider-caption */
	.slider-caption {
	  padding: 50px 0;
	}
	
	.author-img {
	  height: 179px;
	width: 180px;
	padding: 8px;
	}
	.author-colmn h4 {
	  font-size: 14px;
		margin: 10px 0 0;
	}
	.social-contact {
	  margin-top: 15px;
	}
	.social-contact > a {
	  font-size: 14px;
height: 28px;
padding: 2px;
width: 29px;
	}
	
	.headline {
	  font-size: 26px;
	}
	.headline p {
	font-size: 26px;
	letter-spacing: 2.2px;
	line-height: 36px;
	}
	
	
	
	/* counter */
	.countDown {
	  margin: 32px auto;
	}
	.countDown .single-count span {
	  font-size: 33px;
	  letter-spacing: 2px;
	}
	.single-count > img {
  bottom: 31px;
  margin-left: -45.5px;
  width: 100%;
}
	.single-count > p {
	  font-size: 15px;
	}
	.single-count {
	  height: 85px;
margin: 0px 15px;
width: 92.6px;
padding: 6px;
	}
	.slider-caption .details {
	  font-size: 13px;
		padding: 15px 15px;
		letter-spacing: 0.6px;
		line-height: 21px;
	}
	
	.subscribe-mail input.form-control {
	  font-size: 14px;
	  height: 40px;
	}
	.subscribe-mail button {
	  font-size: 13px;
	height: 40px;
	padding: 2px 13px 0 30px;
	}
	.subscribe-mail button::before {
	  left: 12px;
		top: 10px;
	  font-size: 12px;
	}
	footer {
	  padding: 25px 0;
	}
	
	
	
 } /* end media query 768px-991px */

 
 @media (min-width: 600px) and (max-width: 767px) {
	body{
		background:skyblue;
	}
	#scrollUp {
	 background-position: center center;
	bottom: 15px;
	height: 35px;
	right: 35px;
	width: 36px;
	}

	/* searce bar */
	.search-bar {
	  height: 54px;
	  display: block!important;
	  position: relative;
	}
	.search-bar input {
	  font-size: 14px;
	height: 43px;
	margin-top: 7px;
	padding: 5px;
	}
	.search-bar button {
	  font-size: 16px;
	  right: 0px;
	  width: 58px;
	}
	.search-bar .cross {
	  display: none;
	  position: absolute;
	}
	header {
	  padding: 10px 0;
	}
	/* logo */
	.logo a {
	  height: 40px;
	margin-top: 4px;
	position: relative;
	width: 170px;
	z-index: 9999;
	}

	/* menu */
	.main-menu {
	  width: 100%;
	  margin-top: -46px;
	}
	.main-menu .navbar-header {
	  /* margin-top: -38px; */
	}
	.main-menu .navbar-toggle {
	  border-radius: 3px;
	margin-bottom: 11px;
	margin-top: 12px;
	}
	.main-menu ul {
	  margin-top: 0;
	  margin-bottom: 0;
	}
	.main-menu ul li {
	  margin: 0 10px;
	  display: inline;
	}
	.main-menu .nav.navbar-nav a {
		display: inline-block;
font-size: 13px;
padding: 15px 9px 5px;
text-align: center;
	}
	.nav.navbar-nav a:focus {
	  color: #ccc !important;
	}
	.main-menu ul .active > a::after,
	.main-menu ul li > a:hover::after	{
	  background: none;
	}
	.main-menu ul li i {
	  display: none!important;
	  position: absolute;
	}
	
	/* slider-caption */
	.slider-caption {
	  padding: 40px 0;
	}
	
	.author-img {
	  height: 139px;
padding: 7px;
width: 140px;
	}
	.author-colmn h4 {
	  font-size: 13px;
	margin: 9px 0 0;
	}
	.author-colmn > p {
	  font-size: 9px;
	}
	.social-contact {
	  margin-top: 10px;
	}
	.social-contact > a {
	  font-size: 13px;
height: 26px;
margin: 2px;
padding: 1px;
width: 26px;
	}
	
	.headline {
	  font-size: 24px;
	}
	.headline p {
	  line-height: 27px;
font-size: 20px;
letter-spacing: 1.6px;
	}
	
		
	/* counter */
	.countDown {
	  margin: 26px auto;
	}
	.countDown .single-count span {
	  font-size: 25px;
	letter-spacing: 0px;
	}
	.single-count > p {
	  font-size: 13px;
	}
	.single-count {
	  height: 72px;
margin: 0 7px;
padding: 5px;
width: 77.4px;
	}
	.single-count > img {
	  bottom: 29px;
	  margin-left: -38.5px;
	  width: 100%;
	}
	.slider-caption .details {
	 font-size: 13px;
padding: 8px;
letter-spacing: 0;
line-height: 19px;
	}
	
	.subscribe-mail input.form-control {
	  font-size: 12px;
		height: 30px;
	}
	.subscribe-mail button {
	  font-size: 11px;
height: 30px;
padding: 2px 16px 0 26px;
	}
	.subscribe-mail button::before {
	  left: 11px;
top: 3px;
font-size: 10px;
	}

	footer {
	  padding: 20px 0;
	  font-size: 12px;
	}
	
	
 } /* end media query 600px-767px */
 
 
 @media (min-width: 400px) and (max-width: 599px) {
	body{
		background:yellow;
	}
	#scrollUp {
	 background-position: center center;
	bottom: 15px;
	height: 35px;
	right: 35px;
	width: 36px;
	}
	/* searce bar */
	.search-bar {
	  height: 54px;
	  display: block!important;
	  position: relative;
	}
	.search-bar input {
	  font-size: 14px;
height: 43px;
margin-top: 7px;
	}
	.search-bar button {
	  font-size: 15px;
	  right: 0px;
	  width: 58px;
	}
	.search-bar .cross {
	  display: none;
	  position: absolute;
	}
	
	header {
	  padding: 10px 0;
	}
	/* logo */
	.logo a {
	 height: 40px;
margin-top: 4px;
position: relative;
width: 155px;
z-index: 9999;
	}

	/* menu */
	.main-menu {
	  width: 100%;
	  margin-top: -46px;
	}
	.main-menu .navbar-toggle {
	  border-radius: 3px;
	margin-bottom: 11px;
	margin-top: 12px;
	}
	.main-menu ul {
	  margin-top: 0;
	  margin-bottom: 0;
	}
	.main-menu ul li {
	 margin: 0 10px 0px 0;
	}
	.main-menu .nav.navbar-nav a {
		display: inline-block;
font-size: 13px;
padding: 0px 3px;
display: block;
	}
	.main-menu ul .active > a::after,
	.main-menu ul li > a:hover::after	{
	  background: none;
	}
	.main-menu ul li i {
	  display: none!important;
	  position: absolute;
	}
	
	/* slider-caption */
	.slider-caption {
	  padding: 30px 0;
	}
	
	.author-img {
	  height: 99px;
padding: 4px;
width: 100px;
	}
	.author-colmn h4 {
	  font-size: 10px;
margin: 7px 0 0;
letter-spacing: 0;
	}
	.author-colmn > p {
  font-size: 8px;
  letter-spacing: 0;
  line-height: 18px;
}
	.social-contact {
	  margin-top: 5px;
	}
	.social-contact > a {
	  font-size: 12px;
height: 25px;
margin: 0 2px 5px 0;
padding: 1px;
width: 26px;
	}
	
	.headline {
	  font-size: 18px;
	}
	.headline p {
	 font-size: 19px;
letter-spacing: 0.6px;
line-height: 24px;
text-align: center;
	}
	
		
	/* counter */
	.countDown {
	 margin: 22px auto;
width: 237px;
	}
	.countDown .single-count span {
	  font-size: 15px;
	letter-spacing: 0px;
	}
	.single-count > p {
	  font-size: 11px;
	}
	.single-count {
	 height: 46px;
margin: 0 7px;
padding: 1px;
width: 46.5px;
	}
	.single-count > img {
	  bottom: 29px;
	  margin-left: -38.5px;
	  width: 100%;
	}
	.slider-caption .details {
	  font-size: 13px;
padding: 8px;
display: none;
	}
	
	.subscribe-mail {
	  border: 1px solid #717171 !important;
width: 237px;
margin: 0 auto;
	}
	.subscribe-mail input.form-control {
	  font-size: 11px;
		height: 30px;
	}
	.subscribe-mail button {
	  font-size: 11px;
height: 30px;
padding: 2px 10px;
	}
	.subscribe-mail button::before {
	  display: none;
	}
	footer {
	  font-size: 11px;
padding: 15px 0;
	}
	
	
 } /* end media query 400px-599px */

 
@media (max-width: 400px) {
	body{
		background:green
	}
	/* searce bar */
	.search-bar {
	  height: 54px;
	  display: block!important;
	  position: relative;
	}
	.search-bar input {
	  font-size: 16px;
	height: 43px;
	margin-top: 5px;
	padding: 5px;
	}
	.search-bar button {
	  font-size: 20px;
	  right: 0px;
	  width: 58px;
	}
	.search-bar .cross {
	  display: none;
	  position: absolute;
	}
	
	header {
	  padding: 10px 0;
	}
	/* logo */
	.logo a {
	  height: 38px;
	width: 180px;
	margin-top: 4px;
	}

	/* menu */
	.main-menu {
	  width: 100%;
	  margin-top: -46px;
	}
	.main-menu .navbar-toggle {
	  border-radius: 3px;
	margin-bottom: 11px;
	margin-top: 12px;
	}
	.main-menu ul {
	  margin-top: 0;
	  margin-bottom: 0;
	}
	.main-menu ul li {
	  margin: 0 10px;
	}
	.main-menu .nav.navbar-nav a {
		display: inline-block;
		font-size: 14px;
		padding: 12px 3px;
	}
	.main-menu ul .active > a::after,
	.main-menu ul li > a:hover::after	{
	  background: none;
	}
	.main-menu ul li i {
	  display: none!important;
	  position: absolute;
	}
	
	/* slider-caption */
	.slider-caption {
	  padding: 14px 0;
	}
	
	.author-img {
	  height: 79px;
padding: 4px;
width: 80px;
	}
	.author-colmn h4 {
	  font-size: 11px;
	margin: 7px 0 0;
	}
	.author-colmn > p {
	  font-size: 8px;
	  line-height: 13px;
	}
	.social-contact {
	  margin-top: 5px;
	  display: none;
	}
	.social-contact > a {
	  font-size: 14px;
	height: 27px;
	margin: 0 2px 5px 0;
	padding: 3px;
	width: 28px;
	}
	
	.headline {
	  font-size: 14px;
	  margin-top: 20px;
	}
	.headline p {
	  line-height: 18px;
	}
	
		
	/* counter */
	.countDown {
	  margin: 22px auto;
	}
	.countDown .single-count span {
	  font-size: 15px;
	letter-spacing: 0px;
	}
	.single-count > p {
	  font-size: 11px;
	}
	.single-count {
	  margin: 0;
padding: 0px;
text-align: center;
border: none;
	}
	.slider-caption .details {
	  font-size: 13px;
padding: 8px;
display: none;
	}
	
	.subscribe-mail {
  display: none;
}
	
	
} /* end media query 400px */


