@media (min-width: 1200px) {}


 @media (min-width: 992px) and (max-width: 1199px) {
	body{
		/* background:orange; */
	}
	.single-count {
	  padding: 18px 20px;
	  width: 21%;
	}
	.single-count span {
	  font-size: 50px;
	}
	.single-count::after {
	  box-shadow: 0 517px 25px -21px rgba(0, 0, 0, 0.25);
	}
	
 }/* end query orange (992px) */
 
 @media (min-width: 768px) and (max-width: 991px) {
	body{
		/* background:pink; */
	}
	header h1 {
	  font-size: 30px;
	}
	.content h1 {
	  font-size: 30px;
	}
	.content p {
	  margin: 12px auto 50px;
	  width: 100%;
	}
	.countDown {
	  width: 90%;
	}
	.single-count {
	  padding: 18px 20px;
	  width: 21%;
	}
	.single-count::after {
	  box-shadow: 0 547px 25px -21px rgba(0, 0, 0, 0.25);
	}
	.single-count span {
	  font-size: 50px;
	}
	.single-count p {
	  margin: 0 auto;
	}
	
	
 }/* end query pink (768px) */

 @media (min-width: 600px) and (max-width: 767px) {
	body{
		/* background:skyblue; */
	}
	header i.fa {
	  font-size: 45px;
	}
	header h1 {
	  font-size: 25px;
	}
	section.content {
	  padding: 100px 0;
	}
	.content h1 {
	  font-size: 25px;
	}
	.content p {
	  margin: 9px auto 40px;
	width: 100%;
	font-size: 13px;
	}
	.countDown {
	  margin: 0 auto;
	width: 555px;
	}
	.single-count {
	  padding: 16px 10px;
	width: 20.2%;
	border: 3px solid rgba(245, 71, 70, 0.8);
	}
	.single-count::after {
	  box-shadow: 0 398px 25px -21px rgba(0, 0, 0, 0.25);
	}
	.single-count span {
	  font-size: 40px;
	}
	.single-count p {
	  margin: 0 auto;
	  font-size:12px;
	}
	footer {
	  padding: 30px 0;
	}
	footer h2 {
	  font-size: 25px;
	}
	
	
}/* end query skyblue (600px) */
 
 @media (min-width: 400px) and (max-width: 599px) {
	body{
		/* background:yellow; */
	}
	
	header {
	  padding: 20px 0 10px;
	}
	header i.fa {
	  font-size: 35px;
	}
	header h1 {
	  font-size: 20px;
	}
	section.content {
	  padding: 70px 0;
	}
	.content h1 {
	  font-size: 20px;
	  text-shadow: none;
	}
	.content p {
	  margin: 9px auto 30px;
	width: 100%;
	font-size: 13px;
	}
	.countDown {
	  width: 354px;
	}
	.single-count {
	  border: 3px solid rgba(245, 71, 70, 0.8);
		margin-left: 10px;
		padding: 15px 10px;
		width: 22%;
	}
	.single-count::after {
	  box-shadow: 0 88px 25px -21px rgba(0, 0, 0, 0.25);
	  transform: scaleY(0.2);
	}
	.single-count span {
	  font-size: 30px;
	  line-height: 24px;
	}
	.single-count p {
	  margin: 0 auto;
	  font-size:11px;
	}
	footer {
	  padding: 10px 0 30px;
	}
	footer::before {
	  height: 25%;
	}
	footer h2 {
	  font-size: 20px;
	}
	.subscribe-area input {
	  margin: 10px 0 20px;
	padding: 5px 10px;
	width: 250px;
	}
	.subscribe-area button {
	  padding: 5px 13px;
	}
	
 }/* end query yellow(400px) */

@media (max-width: 400px) {
	body{
		/* background:green */
	}
	
	header {
	  padding: 20px 0 0px;
	}
	header i.fa {
	  font-size: 30px;
	}
	header h1 {
	  font-size: 20px;
	}
	section.content {
	  padding: 50px 0 60px;
	}
	.content h1 {
	  font-size: 18px;
	  text-shadow: none;
	}
	.content p {
	 font-size: 12px;
	margin: 9px auto 20px;
	width: 100%;
	}
	.countDown {
	  width: 256px;
	}
	.single-count {
	  border: 2px solid rgba(245, 71, 70, 0.8);
	display: block;
	box-shadow:none;
	margin: 15px auto 0px;
	padding: 21px 10px;
	width: 120px;
	}
	.single-count:first-child {
	  margin: 0 auto;
	}
	.single-count::after {
	  box-shadow: none;
	  transform: scaleY(0.2);
	}
	.single-count span {
	  font-size: 40px;
	}
	.single-count p {
	  margin: 0 auto;
	  font-size:11px;
	}
	footer {
	  padding: 10px 0 30px;
	}
	footer::before {
	  height: 25%;
	}
	footer h2 {
	  font-size: 16px;
	}
	.subscribe-area input {
	  margin: 10px 0 20px;
	padding: 5px 10px;
	width: 200px;
	}
	.subscribe-area button {
	  padding: 5px 13px;
	}
	
	
}/* end query green(400px) */


