@media (min-width: 1200px) {}


@media (min-width: 992px) and (max-width: 1199px) {
    body{
        /* background:orange; */
    }
    /* ---------------404 page- banner section------------------ */
    .slider-content > h1 {
        font-size: 50px;
    }
    .slider-content > p {
        margin: 20px 0 40px;
    }
    .slider-content > a {
        padding: 17px 60px;
        width: 260px;
    }
    .sorry-page-logo {
        bottom: 13%;
        height: 60px;
        margin-left: -80px;
        width: 160px;
    }
    .after-before-line:before, .after-before-line:after {  
        bottom: 18.5%;
    }
    /* ---------------404 page- banner section------------------ */

    /* -------------footer section------------------ */
    .footer-social-icon {
        text-align: center;
        width: 290px;
        margin: 0 auto;
    }
    .footer-social-icon > a:last-child {
        margin-right: 0;
    }
    .footer-menu ul {
        text-align: center;
    }
    /* -------------footer section------------------ */





}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        /* background:pink; */
    }

    /* ---------------404 page- banner section------------------ */
    .slider-content > h1 {
        font-size: 40px;
    }
    .slider-content {
        top: 16%;
    }
    .slider-content > p {
        margin: 18px 0 39px;
        font-size: 14px;
    }
    .slider-content > a {
        padding: 15px 40px;
        width: 220px;
        font-size: 14px;
    }
    .sorry-page-logo {
        bottom: 13%;
        height: 60px;
        margin-left: -80px;
        width: 160px;
    }
    .after-before-line:before, .after-before-line:after {  
        bottom: 18.5%;
        width: 39%;
    }
    /* ---------------404 page- banner section------------------ */

    /* -------------------start footer widget section------------------ */
    .footer-widget {
        padding: 50px 0;
    }
    .first-widget p {
        line-height: 21px;
        margin-top: 7px;
        font-size: 13px;
    }
    .single-widget > h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget > ul li {
        line-height: 22px;
    }
    .single-widget > ul li a {
        font-size: 13px;
    }
    .fourth-widget p {
        font-size: 13px;
    }
    .fourth-widget i {
        font-size: 15px;
        margin-right: 8px;
    }
    /* -------------------end footer widget section------------------ */

    /* -------------footer section------------------ */

    .footer-social-icon {
        text-align: center;
        width: 290px;
        margin: 0 auto;
    }
    .footer-social-icon > a:last-child {
        margin-right: 0;
    }
    .footer-menu ul {
        text-align: center;
    }
    .footer-social-icon {
        width: 100%;
    }
    .footer-social-icon > a {
        font-size: 17px;
        margin-right: 34px;
    }
    .footer-menu ul {
        text-align: left;
    }
    .footer-menu a {
        padding: 0 8px;
    }
    /* -------------footer section------------------ */






}

@media (min-width: 600px) and (max-width: 767px) {
    body{
        /* background:skyblue; */
    }

    /* -----------------header section------------------ */
    header {
        min-height: 65px;
    }
    .logo {
        margin-top: 10px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #B04243;
    }
    .navbar-default .navbar-toggle:focus{background:none;}
    .main-menu-area {
        margin-top: -48px;
    }
    .navbar-toggle {
        margin-bottom: 17px;
    }
    .main-menu-area ul {
        float: none;
        text-align: left !important;
    }
    .main-menu-area ul li{
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        border-top: 1px solid rgba(255, 255, 255, 0.14);
        display: inherit;
    }
    .main-menu-area ul li:first-child{
        border-top: 0px;
    }
    .main-menu-area ul li:last-child{
        border-bottom: 0px;
    }
    .main-menu-area ul li a {
        display: block;
        padding: 10px 15px;
    }
    .rsvp {
        background: none!important;
    }
    .navbar-nav {
        margin: 0px -15px;
    }
    /* -----------------end header section------------------ */


    /* ---------------404 page- banner section------------------ */
    .slider-content > h1 {
        font-size: 30px;
    }
    .slider-content {
        top: 16%;
    }
    .slider-content > p {
        font-size: 13px;
        margin: 15px 0 30px;
    }
    .slider-content > a {
        font-size: 12px;
        padding: 12px 30px;
        width: 170px;
    }
    .sorry-page-logo {
        bottom: 10%;
        height: 40px;
        margin-left: -60px;
        width: 120px;
    }
    .after-before-line:before, .after-before-line:after {  
        bottom: 15.5%;
        width: 39%;
    }
    /* ---------------404 page- banner section------------------ */

    /* -------------------start footer widget section------------------ */
    .footer-widget {
        padding: 50px 0;
    }
    .single-widget {
        float: left;
        margin-right: 6%;
        min-height: 140px;
        width: 44%;
        margin-bottom:30px;
    }
    .first-widget p {
        line-height: 21px;
        margin-top: 7px;
        font-size: 13px;
    }
    .single-widget > h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget > ul li {
        line-height: 22px;
    }
    .single-widget > ul li a {
        font-size: 13px;
    }
    .fourth-widget p {
        font-size: 13px;
    }
    .fourth-widget i {
        font-size: 15px;
        margin-right: 8px;
    }
    /* -------------------end footer widget section------------------ */

    /* -------------footer section------------------ */

    .copyright {
        text-align: center;
    }
    .footer-social-icon {
        text-align: center;
        width: 290px;
        margin: 0 auto;
    }
    .footer-social-icon > a:last-child {
        margin-right: 0;
    }
    .footer-menu ul {
        text-align: center;
    }
    .footer-social-icon {
        width: 100%;
        margin: 10px auto;
    }
    .footer-social-icon > a {
        font-size: 17px;
        margin-right: 20px;
    }
    .footer-menu ul {
        text-align: center;
    }
    .footer-menu a {
        padding: 0 8px;
    }
    /* -------------footer section------------------ */








}

@media (min-width: 400px) and (max-width: 599px) {
    body{
        /* background:yellow; */
    }
    /* -----------------header section------------------ */
    header {
        min-height: 65px;
    }
    .logo {
        margin-top: 10px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #B04243;
    }
    .navbar-default .navbar-toggle:focus{background:none;}
    .main-menu-area {
        margin-top: -48px;
    }
    .navbar-toggle {
        margin-bottom: 17px;
    }
    .main-menu-area ul {
        float: none;
        text-align: left !important;
    }
    .main-menu-area ul li{
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        border-top: 1px solid rgba(255, 255, 255, 0.14);
        display: inherit;
    }
    .main-menu-area ul li:first-child{
        border-top: 0px;
    }
    .main-menu-area ul li:last-child{
        border-bottom: 0px;
    }
    .main-menu-area ul li a {
        display: block;
        padding: 10px 15px;
    }
    .rsvp {
        background: none!important;
    }
    .navbar-nav {
        margin: 0px -15px;
    }
    /* -----------------end header section------------------ */

    /* ---------------404 page- banner section------------------ */
    .slider-content > h1 {
        font-size: 26px;
    }
    .slider-content {
        margin-left: -160px;
        top: 20%;
        width: 320px;
    }
    .slider-content > p {
        font-size: 11px;
        margin: 9px 0 16px;
    }
    .slider-content > a {
        font-size: 11px;
        padding: 9px;
        width: 130px;
    }
    .after-before-line {
        display: none;
    }
    /* ---------------404 page- banner section------------------ */

    /* -------------------start footer widget section------------------ */
    .footer-widget {
        padding: 50px 0;
    }
    .single-widget {
        float: none;
        margin-bottom: 30px;
        margin-right: 6%;
        min-height: inherit;
        width: 100%;
    }
    .first-widget p {
        line-height: 21px;
        margin-top: 7px;
        font-size: 13px;
    }
    .single-widget > h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget > ul li {
        line-height: 22px;
    }
    .single-widget > ul li a {
        font-size: 13px;
    }
    .fourth-widget p {
        font-size: 13px;
    }
    .fourth-widget i {
        font-size: 15px;
        margin-right: 8px;
    }
    /* -------------------end footer widget section------------------ */

    /* -------------footer section------------------ */

    .copyright {
        text-align: center;
    }
    .footer-social-icon {
        text-align: center;
        width: 290px;
        margin: 0 auto;
    }
    .footer-social-icon > a:last-child {
        margin-right: 0;
    }
    .footer-menu ul {
        text-align: center;
    }
    .footer-social-icon {
        width: 100%;
        margin: 10px auto;
    }
    .footer-social-icon > a {
        font-size: 17px;
        margin-right: 20px;
    }
    .footer-menu ul {
        text-align: center;
    }
    .footer-menu a {
        padding: 0 8px;
    }
    /* -------------footer section------------------ */








}

@media (max-width: 400px) {
    body{
        /* background:green */
    }
    /* -----------------header section------------------ */
    header {
        min-height: 65px;
    }
    .logo {
        margin-top: 10px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #B04243;
    }
    .navbar-default .navbar-toggle:focus{background:none;}
    .main-menu-area {
        margin-top: -48px;
    }
    .navbar-toggle {
        margin-bottom: 17px;
    }
    .main-menu-area ul {
        float: none;
        text-align: left !important;
    }
    .main-menu-area ul li{
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        border-top: 1px solid rgba(255, 255, 255, 0.14);
        display: inherit;
    }
    .main-menu-area ul li:first-child{
        border-top: 0px;
    }
    .main-menu-area ul li:last-child{
        border-bottom: 0px;
    }
    .main-menu-area ul li a {
        display: block;
        padding: 10px 15px;
    }
    .rsvp {
        background: none!important;
    }
    .navbar-nav {
        margin: 0px -15px;
    }
    /* -----------------end header section------------------ */

    /* ---------------404 page- banner section------------------ */
    .slider-content > h1 {
        font-size: 26px;
    }
    .slider-content {
        left: 0;
        margin-left: 0;
        padding: 0 10px;
        top: 9%;
        width: 100%;
    }
    .slider-content > p {
        font-size: 11px;
        margin: 9px 0 16px;
    }
    .slider-content > a {
        font-size: 11px;
        padding: 9px;
        width: 130px;
    }
    .after-before-line {
        display: none;
    }
    /* ---------------404 page- banner section------------------ */

    /* -------------------start footer widget section------------------ */
    .footer-widget {
        padding: 50px 0;
    }
    .single-widget {
        float: none;
        margin-bottom: 30px;
        margin-right: 6%;
        min-height: inherit;
        width: 100%;
    }
    .first-widget p {
        line-height: 21px;
        margin-top: 7px;
        font-size: 13px;
    }
    .single-widget > h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .single-widget > ul li {
        line-height: 22px;
    }
    .single-widget > ul li a {
        font-size: 13px;
    }
    .fourth-widget p {
        font-size: 13px;
    }
    .fourth-widget i {
        font-size: 15px;
        margin-right: 8px;
    }
    /* -------------------end footer widget section------------------ */

    /* -------------footer section------------------ */

    .copyright {
        text-align: center;
    }
    .footer-social-icon {
        text-align: center;
        width: 290px;
        margin: 0 auto;
    }
    .footer-social-icon > a:last-child {
        margin-right: 0;
    }
    .footer-menu ul {
        text-align: center;
    }
    .footer-social-icon {
        width: 100%;
        margin: 10px auto;
    }
    .footer-social-icon > a {
        font-size: 17px;
        margin-right: 20px;
    }
    .footer-menu ul {
        text-align: center;
    }
    .footer-menu a {
        padding: 0 8px;
    }
    /* -------------footer section------------------ */








}


