.skdslider{
 width:100%;
 position: relative;
 display: block;
 overflow:hidden;
 max-height:645px;
}

.skdslider:after {
    content: '';
    padding-top: 50%; 
    display: block;
}

.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}
.skdslider ul.slides li
{
   display: none;
}
.skdslider ul.slides li img{
    width: 100%;
	height:100%;
	border:0;
}

.skdslider ul.slide-navs {
    bottom: 190px;
    left: 50%;
    position: absolute;
	list-style-type: none;
    margin: 0;
    padding: 0;
}


.skdslider ul.slide-navs li {
    float: left;
	/* background: url("../image/slide-bg.png") no-repeat scroll 0 0 transparent; */
	height:12px;
	width:12px;
	margin-right:15px;
	cursor:pointer;
}
.skdslider ul.slide-navs li.current-slide {
  /* background: url("../image/slide-bg-active.png") no-repeat scroll 0 0 transparent; */
}

.skdslider .slide-desc {
    display: inline-block;
left: 50%;
margin-left: -248px;
margin-top: -48px;
padding: 0;
position: absolute;
top: 50%;
width: 496px;
}
.skdslider .slide-desc > h2 {
    color: #fff;
font-family: times new roman;
font-size: 60px;
margin-bottom: 0px;
margin-top: 10px;
text-transform: uppercase;
text-align: center;
font-weight:bold;
}

.skdslider .slide-desc > p {
    color: #ffffff;
font-family: times new roman;
font-size: 19px;
line-height: 20px;
text-transform: uppercase;
letter-spacing: 2px;
text-align: center;
}
.slide-desc span {
  color: #b94746;
}


/* .skdslider a.prev{
    background: url("../image/left.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:2%;
	margin-top:-17px;
} */

/* .skdslider a.next{
    background: url("../image/right.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:2%;
	margin-top:-17px;
} */
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}

/* .skdslider a.play{
    background: url("../image/play.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
} */

/* .skdslider a.pause{
    background: url("../image/pause.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
} */
/*Some Responsive CSS */
@media screen and (max-width:767px) {
	.skdslider .slide-desc > h2 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	.skdslider .slide-desc > p {
		font-size: 14px;
		line-height: 15px;
		margin-top: 5px;
	}
}